<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="AuthPassword">
<!-- 비밀번호 -->
<tr>
    <td class="font-medium p-2">비밀번호</td>
    <td class="p-2">
        <input type="password" id="password" placeholder="숫자, 영문, 특수문자 중 2가지 이상" 
        	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" minlength="6" maxlength="20" required>
        <p id="passwordError" class="text-sm text-red-500 mt-1 hidden">비밀번호 규칙을 확인하세요.</p>
    </td>
</tr>

<!-- 비밀번호 확인 -->
<tr>
    <td class="font-medium p-2">비밀번호 확인</td>
    <td class="p-2">
        <input type="password" id="confirmPassword" placeholder="최소 6자, 최대 20자" 
        	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" required>
        <p id="confirmPasswordError" class="text-sm text-red-500 mt-1 hidden">비밀번호가 일치하지 않습니다.</p>
    </td>
</tr>
</th:block>

<script xmlns:th="http://www.thymeleaf.org" th:fragment="script( func )" th:inline="javascript">

function _innerStatus( status ){
	let func = /*[[${func}]]*/ null;
	if (func && typeof window[func] === 'function') {
		window[func]( status );
	}
}

function comparePassword(){
	const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;
    const passwordError = document.getElementById("passwordError");
    const confirmPasswordError = document.getElementById("confirmPasswordError");
    
    // 비밀번호 검사 (숫자, 영문, 특수문자 중 2가지 이상 포함)
    const hasNumber = /[0-9]/.test(password);
    const hasLetter = /[a-zA-Z]/.test(password);
    const hasSpecial = /[!@#$%^&*(),.?":{}|<>]/.test(password);
    const isValidPassword = (hasNumber && hasLetter) || (hasNumber && hasSpecial) || (hasLetter && hasSpecial);

    if (!isValidPassword || password.length < 6 || password.length > 20) {
        passwordError.classList.remove("hidden");
        _innerStatus( false );
        return;
    } else {
        passwordError.classList.add("hidden");
    }

    if( password.length > 0 & confirmPassword.length > 0 ){
        // 비밀번호 확인 검사
        if (password !== confirmPassword) {
            confirmPasswordError.classList.remove("hidden");
            _innerStatus( false );
        } else {
            confirmPasswordError.classList.add("hidden");
            _innerStatus( true );
        }
    }
}

document.addEventListener('DOMContentLoaded', () => {
	document.getElementById("password").addEventListener("blur", comparePassword);
	document.getElementById("confirmPassword").addEventListener("blur", comparePassword);
});


</script>