<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Auth/UserLayout}">
    
<th:block layout:fragment="title">로그인</th:block>

<th:block layout:fragment="css"></th:block>
	
<div layout:fragment="content">
	<div class="bg-white p-10 shadow-xl rounded-xl w-full max-w-lg text-center space-y-8">
		<!-- 
		<h1 class="text-4xl md:text-5xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-blue-600 via-orange-500 to-yellow-400 animate-pulse">
			🐇 BurrowNest
		</h1>
		-->
		
		<!-- 로그인 폼 -->
		<form id="loginForm" class="space-y-4 text-left">
			<div>
				<label for="id" class="block text-sm font-medium text-gray-700 mb-1">아이디</label>
				<input type="text" id="id" maxlength="16"
					class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
					placeholder="ID" />
			</div>
			
			<div>
				<label for="pw" class="block text-sm font-medium text-gray-700 mb-1">비밀번호</label>
				<div class="relative">
					<input type="password" id="pw" maxlength="32" autocomplete="off"
						class="w-full p-3 pr-10 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-red-400"
						placeholder="Password" />
					<button type="button" onclick="togglePassword()" class="absolute right-3 top-3">🔑</button>
				</div>
			</div>
			
			<button type="submit"
				class="w-full bg-blue-500 text-white py-3 rounded-lg font-semibold hover:bg-blue-600 transition duration-300 shadow-md">
				로그인
			</button>
		</form>
		
		<div class="flex justify-between mt-2 text-sm text-blue-500 cursor-pointer">
			<a th:href="@{/Auth/FindUserPw.html}" class="hover:underline">비밀번호 찾기</a>
			<a th:href="@{/Auth/JoinUser.html}" class="hover:underline">회원 가입</a>
		</div>
		
		<!-- 연락처 -->
		<div class="text-sm text-gray-500 text-right">
			연락처: <a href="mailto:dev@pointpark.com" class="text-blue-600 hover:underline">utime@naver.com</a>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
    
<script th:inline="javascript">
	
	function togglePassword() {
	    const pwInput = document.getElementById("pw");
	    pwInput.type = pwInput.type === "password" ? "text" : "password";
	}

	document.getElementById("loginForm").addEventListener("submit", async function(event) {
	    event.preventDefault();
	    
	    const reqId = document.getElementById("id").value.trim();
	    if( reqId.length < 1 ){
	    	showCustomAlert('아이디를 입력하세요.');
	    	return;
	    }

	    const reqPw = document.getElementById("pw").value.trim();
	    if( reqPw.length < 1 ){
	    	showCustomAlert('비밀번호를 입력하세요.');
	    	return;
	    }

	    document.getElementById("pw").value = '';
	    
	    procLogin( reqId, reqPw);
	});
	
	async function procLogin(reqId, reqPw){

		const loading = document.getElementById("loadingOverlay");
        if (loading) loading.classList.remove("hidden");
	
		const encPw = encryptPassword( reqPw );
	    
	    const requestData = {
	        id: reqId,
	        pw: encPw,
	        token: /*[[${unique.token}]]*/ null,
	        rsaId: /*[[${unique.rsaId}]]*/ null
	    };
	    
	    try {
	        const response = await fetch(/*[[@{/Auth/Login.json}]]*/ null, {
	            method: "POST",
	            headers: { "Content-Type": "application/json" },
	            body: JSON.stringify(requestData),
	            credentials: "include"
	        });
	        
	        if (loading) loading.classList.add("hidden");
	
	        if (response.ok) {
	            const data = await response.json();
	            if( data.code === '0' ){
	            	window.location.href = data.message;
	            }else{
	            	showCustomAlert(data.code + " - " + data.message);
	            }
	        } else {
	        	showCustomAlert("아이디 또는 비밀번호를 확인하세요.");
	        }
	    } catch (error) {
	        console.error("로그인 오류:", error);
	        showCustomAlert("서버 오류가 발생했습니다.");
	    }
	}
</script>
</th:block>
</html> 
