<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <meta property="og:type" content="website">
	  <meta property="og:url" th:content="${redirectUrl}" />
	  <meta property="og:title" content="PointPark API">
	  <meta property="og:image" th:content="@{/images/favicon/android-icon-192x192.png}">
	  <meta property="og:description" content="API 정의 페이지. 인증필요!">
	  <meta property="og:site_name" content="포인트파크">
	  <meta property="og:ignore_canonical" content="true">
	  <meta property="og:article:section" content="포인트파크 API">
</head>
<body>
    <p>미리보기 전용 페이지입니다. 본문은 로그인 후 확인 가능합니다.</p>
</body>
</html>
