<!-- 회원 목록 -->
<div xmlns:th="http://www.thymeleaf.org" 
	class="bg-white shadow p-6 rounded-md">
    <h2 class="text-xl font-bold text-gray-700 mb-4">회원 목록</h2>
    <table class="w-full border-collapse border border-gray-200">
        <thead>
            <tr class="bg-gray-100">
                <th class="border p-2 text-center">가입일</th>
                <th class="border p-2 text-center">ID</th>
                <th class="border p-2 text-center">사용여부</th>
                <th class="border p-2 text-center">별명</th>
                <th class="border p-2 text-center">역할</th>
                <th class="border p-2 text-center">로그인 횟수</th>
                <th class="border p-2 text-center">마지막 로그인</th>
                <th class="border p-2 text-center">최근 로그인 실패</th>
            </tr>
        </thead>
        <tbody>
            <tr th:unless="${#lists.isEmpty(users)}"
            	th:each="item : ${users}" th:data-user-no="${item.userNo}">
                <td class="border p-2 text-center" th:text="${#temporals.format(item.regDate,'yyyy.MM.dd HH:mm')}"></td>
                <td class="border p-2 id-cell underline cursor-pointer" th:text="${item.id}"></td>
                <td class="border p-2 text-center" th:text="${item.enabled? '🟢':'🔴'}"></td>
                <td class="border p-2" th:text="${item.nickname}"></td>
                <td class="border p-2 text-center" th:text="${item.role}"></td>
                <td class="border p-2 text-right" th:text="${#numbers.formatInteger(item.loginCount, 3)}"></td>
                <td class="border p-2 text-center" th:text="${#temporals.format(item?.lastLoginTime,'yyyy.MM.dd HH:mm')}"></td>
                <td class="border p-2 text-right" th:text="${#numbers.formatInteger(item.loginFailCount, 3)}"></td>
            </tr>
        </tbody>
    </table>
</div>

<script th:inline="javascript">

    document.querySelectorAll('.id-cell').forEach(idCell => {
        idCell.addEventListener('click', function() {
            const row = this.parentNode;
            const userNo = row.dataset.userNo;
            
            const url = /*[[@{/Admin/User/Profile.layer}]]*/ null;
            const urlValue = url + '?userNo=' + userNo;
            
            const sendValue = {
			        url: urlValue,
					method: MethodType.Get,
			        contentType: ContentsType.Form, // 기본값: JSON
			        popupId:'Profile',
			        width: '800px'
			    };
            
            openPopup( sendValue );
        });
    });
</script>