<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/Common/AdminLayout}">

    <th:block layout:fragment="title">회원 관리</th:block>

    <th:block layout:fragment="css"></th:block>

    <div layout:fragment="content">
        <!-- 회원 검색 -->
        <div class="bg-white shadow p-6 rounded-md mb-6">
            <h2 class="text-xl font-bold text-gray-700 mb-4">회원 검색</h2>
            <div class="flex space-x-4">
                <input type="text" id="userId" placeholder="회원 ID 입력"
                       class="border p-2 rounded w-1/3 focus:outline-none focus:ring-2 focus:ring-blue-600">
                <button type="button" class="bg-blue-600 text-white p-2 rounded hover:bg-blue-700" onclick="search()">검색</button>
            </div>
        </div>

        <!-- 회원 목록 -->
        <div id="ResultList"></div>
    </div>

    <th:block layout:fragment="script">
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', () => {
            search();
        });
        
        
        async function search(){
        	const url = /*[[@{/Admin/User/UserList.layer}]]*/ null;
        	doSearchList(url, {
        		
        	}, 'ResultList') 
        };
    </script>
    </th:block>

</div>