<div xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Common/LayoutModal}"
    th:with="maxHeight='120'">
    
    <th:block layout:fragment="modalTitle">
        회원 상세
    </th:block>

	<th:block layout:fragment="modalContent">
	<form id="updateUserForm" th:object="${item}">
		<input type="hidden" th:field="*{userNo}">
        <table class="w-full border-collapse">
		    <tbody>
	            <tr>
	                <td class="w-1/4 font-medium p-2">
	                	<label for="id">아이디</label>
	                </td>
	                <td class="w-3/4 p-2">
	                    <input type="text" th:field="*{id}" readonly
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400"  
	                    	th:value="${item.id}" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="enabled">사용여부</label></td>
	                <td class="w-3/4 p-2">
	                    <div class="flex items-center space-x-4">
				            <div>
				                <input type="radio" id="enabledTrue" name="enabled" value="true" class="form-radio h-5 w-5 text-green-500 focus:ring-green-500" th:checked="${item.enabled}">
				                <label for="enabledTrue" class="ml-2 text-gray-700">예</label>
				            </div>
				            <div>
				                <input type="radio" id="enabledFalse" name="enabled" value="false" class="form-radio h-5 w-5 text-red-500 focus:ring-red-500"  th:checked="${! item.enabled}">
				                <label for="enabledFalse" class="ml-2 text-gray-700">아니오</label>
				            </div>
				        </div>
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="role">역할</label></td>
	                <td class="w-3/4 p-2">
	                    <select th:field="*{role}" class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" required>
	                        <option value="">선택하세요</option>
						    <option th:each="role : ${roles}" 
						            th:value="${role}" 
						            th:text="${role.getDscr()}"
						            th:selected="${item.role eq role}">
						    </option>
	                    </select>
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="group.groupNo">소속 그룹</label></td>
	                <td class="w-3/4 p-2">
	                    <select id="group.groupNo" name="group.groupNo" class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" required>
	                        <option value="">선택하세요</option>
						    <option th:each="group : ${groups}" 
						            th:value="${group.groupNo}" 
						            th:text="|${group.name} - ${group.accType}|"
						            th:selected="${item.group.groupNo eq group.groupNo}">
						    </option>
	                    </select>
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="note">비고</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="text" th:field="*{note}" maxlength="255" 
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="dailyUploadLimit">하루 업로드 제한</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="number" th:field="*{dailyUploadLimit}"  
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="dailyDownloadLimit">일일 최대 다운로드</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="number" th:field="*{dailyDownloadLimit}"  
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="maxStorageUsage">저장공간 최대 사용</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="number" th:field="*{maxStorageUsage}"  
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	        </tbody>
	    </table>
    </form>
    <!-- 회원 삭제 버튼 -->
<!--     <div class="flex justify-end mt-4 space-x-2">
    </div> -->
    </th:block>
    
    <th:block layout:fragment="modalButton">
        <button type="button"
                onclick="deleteUser(this)"
                class="bg-red-500 text-white px-4 py-2 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 transition">
            회원 삭제
        </button>
    	<button id="saveButton" onclick="saveData(this)" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">
            저장
        </button>
        <button onclick="closePopup(this)" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">
            취소
        </button>
    </th:block>
    
	<th:block layout:fragment="modalScript">
					
		<script th:inline="javascript">
		
		function getUserInfo(){
        	return getFormObject('updateUserForm');
		}
		
		function deleteUser(ele) {
			
			showCustomConfirm("정말로 이 회원을 삭제하시겠습니까?", async (isConfirm) => {
            	
            	if( ! isConfirm ){
            		return;
            	}
            	
               	const url = /*[[@{/Admin/User/DeleteUser.json}]]*/ null;
               	
            	const options = {
            			method: 'POST',
            			headers: {
            				'Content-Type': 'application/json',
            			},
            			body: JSON.stringify( getUserInfo() ),
            	    };
            	
            	const response = await apiRequest(url, options);
                if (!response.ok) {
                    throw new Error(`HTTP 오류 발생: ${response.status} ${response.statusText}`);
                }
                
                if (response.ok) {
                    const result = await response.json();
                    console.log('삭제 결과:', result);
                    if( result.code == '0' ){
                    	showCustomAlert( '삭제됐습니다.', function(){
                            location.reload(); 
                    	} );
                    }else{
                    	showCustomAlert( '삭제 실패 ' + result.code + ':' + result.message, function(){
                    		closePopup(ele);
                    	} );
                    }
                } else {
                	console.error('삭제 오류:', response.status);
                	showCustomAlert( '삭제 오류:' + response.status , function(){
                		closePopup(ele);
                	} );
                }
			});
            	
        }
		
		 // 데이터 저장
        async function saveData(ele) {
        	
        	const url = /*[[@{/Admin/User/SaveUser.json}]]*/ null;
        	const options = {
        			method: 'POST',
        			headers: {
        				'Content-Type': 'application/json',
        			},
        			body: JSON.stringify( getUserInfo() ),
        	    };
        	
        	const response = await apiRequest(url, options);
            if (!response.ok) {
                throw new Error(`HTTP 오류 발생: ${response.status} ${response.statusText}`);
            }
			
            if (response.ok) {
                const result = await response.json();
                console.log('저장 결과:', result);
                if( result.code == '0' ){
                	location.reload(); 
                }else{
                	showCustomAlert( '저장 실패 ' + result.code + ':' + result.message, function(){
                		closePopup(ele);
                	} );
                }
            } else {
            	console.error('저장 오류:', response.status);
            	showCustomAlert( '저장 오류:' + response.status , function(){
            		closePopup(ele);
            	} );
            }
		 }
		</script>
    </th:block>
</div>
	   
