<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.burrowNest.user.mapper.AdminMapper">

	<!-- 어드민 테이블 생성 -->
	<insert id="createAdmin">
		CREATE TABLE BN_ADMIN (
			AUTH_DATA VARCHAR(255), <!-- 암호값 -->
			REG_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP, <!-- 생성일 -->
			UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		)
	</insert>

	<!-- 어드민 계정 추가 -->
	<insert id="insertAdmin" parameterType="map">
		INSERT INTO BN_ADMIN (
			AUTH_DATA
			, UPDATE_DATE
		) VALUES (
			#{pw, typeHandler=com.utime.burrowNest.user.typeHandler.PasswordEncoderTypeHandler}
			, CURRENT_TIMESTAMP
		)  
	</insert>

	<!-- 초기화 했는지 여부 -->
	<select id="IsInit" resultType="boolean">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 1 THEN 1
				ELSE 0
	   		END AS RES
	   	FROM BN_ADMIN
	</select>

	<!-- 어드민 pw 조회 -->
	<select id="getAdminPw" resultType="String">
		SELECT AUTH_DATA FROM BN_ADMIN
	</select>


	<!-- 사용자 추가 -->
	<insert id="insertUser" parameterType="com.utime.burrowNest.user.vo.UserVo" useGeneratedKeys="true" keyProperty="userNo" >
		INSERT INTO BN_USER (
			, UPDATE_DATE 
			, ENABLED
			, ID 
			, NICK_NAME 
			, ICON 
		) VALUES (
			CURRENT_TIMESTAMP
			, #{enabled}
			, #{id}
			, #{nickname}
			, #{profileImg}
		)
	</insert>

	<!-- 사용자 목록 조회 -->
	<select id="getUserList" resultType="com.utime.burrowNest.user.vo.UserVo">
		SELECT
			<include refid="com.utime.burrowNest.user.mapper.UserMapper.UserColumn" /> 
		FROM BN_USER
		ORDER BY NO
	</select>
	
	<!-- 사용자 정보 갱신 -->
	<update id="updateUser" parameterType="com.utime.burrowNest.user.vo.UserVo" >
		UPDATE BN_USER SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, ENABLED = #{enabled}
			, NICK_NAME = #{nickname} 
			, ICON = #{profileImg}
			, ROLE = #{role}
			, NOTE = #{note}
			, DAILY_UPLOAD_LIMIT = #{dailyUploadLimit} 
			, DAILY_DOWNLOAD_LIMIT = #{dailyDownloadLimit}
			, MAX_STORAGE_USAGE = #{maxStorageUsage}
		WHERE NO = #{userNo}
	</update>
	
	
</mapper>