<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utime.burrowNest.storage.mapper.StorageBasicMapper">

<!-- 이 dir 에 추가 할 수 있는 것은 오로지 관리자만 추가 할 수 있다.
이하 하위 사용자 들은 이 dir가 선택 된 것에서만 access 가능 하도록 한다.  -->
<insert id="CreateDirectory">
	CREATE TABLE BN_DIRECTORY (
		NO IDENTITY PRIMARY KEY,
		REG_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP, <!-- 생성일 -->
		UPDATE_DATE TIMESTAMP NOT NULL, <!-- 수정일 -->
		ENABLED BOOLEAN DEFAULT FALSE, <!-- 사용 여부. T:사용, F:미사용 -->
		UID UUID DEFAULT RANDOM_UUID(), <!-- 고유 ID -->
		PUBLIC_ACCESSIBLE BOOLEAN DEFAULT TRUE, <!-- 공용 DIR 여부. T:공용, F:private용 -->
		PARENT_NO BIGINT NULL,	<!-- 부모 DIRECTORY 번호 -->
		OWNER_NO BIGINT NOT NULL, <!-- 최초 소유자 번호 -->
		HAS_CHILD BOOLEAN DEFAULT FALSE NOT NULL, <!-- 자식 여부. T:있다, F:없다 -->
		CREATION TIMESTAMP NOT NULL, <!-- 폴더 생성일 -->
		LAST_MODIFIED TIMESTAMP NOT NULL, <!-- 폴더 수정일 -->
		NAME VARCHAR(255) NOT NULL, <!-- 순수  이름 -->
		ABSOLUTE_PATH VARCHAR(2048), <!-- 풀 경로 -->
		CONSTRAINT FK_DIR_PARENT FOREIGN KEY (PARENT_NO) REFERENCES BN_DIRECTORY(NO) ON DELETE CASCADE, <!-- PARENT_NO는 같은 테이블(BN_DIRECTORY)의 NO를 참조하는 자기참조 외래키(Foreign Key) -->
		CONSTRAINT UK_DIR_PATH UNIQUE (ABSOLUTE_PATH),
		CONSTRAINT FK_DIR_OWNER FOREIGN KEY (OWNER_NO) REFERENCES BN_USER(NO),
		CONSTRAINT UK_DIR_PARENT_NAME UNIQUE (PARENT_NO, NAME) <!-- 같은 부모 밑 중복명 금지 -->
	)
</insert>

<!-- 루트 생성 -->
<insert id="InsertRootDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory"
	useGeneratedKeys="true"  keyProperty="no">
	INSERT INTO BN_DIRECTORY (
		UPDATE_DATE 
		, ENABLED 
		, PARENT_NO	
		, OWNER_NO
		, HAS_CHILD
		, CREATION 
		, LAST_MODIFIED 
		, NAME 
		, ABSOLUTE_PATH	
	) VALUES (
		CURRENT_TIMESTAMP
		, TRUE
		, NULL
		, #{ownerNo}
		, true
		, CURRENT_TIMESTAMP
		, CURRENT_TIMESTAMP
		, '/'
		, '/'
	)
</insert>

<insert id="CreateDirectoryAccess">
	CREATE TABLE BN_DIRECTORY_ACCESS (
		DIR_NO BIGINT NOT NULL
		, GROUP_NO INT NOT NULL 
		, ACCESS_FLAGS SMALLINT NOT NULL
		, PRIMARY KEY (DIR_NO, GROUP_NO)
		, CONSTRAINT FK_DA_DIR FOREIGN KEY (DIR_NO) REFERENCES BN_DIRECTORY(NO) ON DELETE CASCADE
		, CONSTRAINT FK_DA_GROUP FOREIGN KEY (GROUP_NO) REFERENCES BN_USER_GROUP(NO) ON DELETE CASCADE
	)
</insert>

<insert id="CreateFile">
	CREATE TABLE BN_FILE (
		NO IDENTITY PRIMARY KEY,
		REG_DATE TIMESTAMP DEFAULT CURRENT_TIMESTAMP, <!-- 생성일 -->
		UPDATE_DATE TIMESTAMP NOT NULL, <!-- 수정일 -->
		ENABLED BOOLEAN DEFAULT FALSE, <!-- 사용 여부 -->
		UID UUID DEFAULT RANDOM_UUID(), <!-- 고유 ID -->
		PARENT_NO BIGINT NOT NULL,	<!-- 부모 번호 -->
		OWNER_NO BIGINT NOT NULL, <!-- 최초 소유자 번호 -->
		FILE_LENGTH BIGINT NOT NULL, <!-- 파일 크기 -->
		FILE_TYPE VARCHAR(16) NOT NULL, <!-- 파일 종류 'Basic','Document','Image','Video','Audio','Archive'-->
		CREATION TIMESTAMP NOT NULL, <!-- 파일 생성일 -->
		LAST_MODIFIED TIMESTAMP NOT NULL, <!-- 파일 수정일 -->
		EXTENSION VARCHAR(16) DEFAULT NULL, <!-- 파일 확장자 -->
		NAME VARCHAR(255) NOT NULL,  <!-- 순수 이름 확장자 미포함 -->
		CONSTRAINT FK_FILE_DIR FOREIGN KEY (PARENT_NO) REFERENCES BN_DIRECTORY(NO) ON DELETE CASCADE,
		CONSTRAINT CK_FILE_TYPE CHECK (FILE_TYPE IN ('Basic','Document','Image','Video','Audio','Archive')),
		CONSTRAINT FK_FILE_OWNER FOREIGN KEY (OWNER_NO) REFERENCES BN_USER(NO),
		CONSTRAINT UK_FILE_PARENT_NAME UNIQUE (PARENT_NO, NAME, EXTENSION) <!--  같은 폴더 내 중복명 금지 -->
	)
</insert>

<insert id="CreateFileAccess">
	CREATE TABLE BN_FILE_ACCESS (
		FILE_NO BIGINT NOT NULL 
		, GROUP_NO INT NOT NULL 
		, ACCESS_FLAGS TINYINT NOT NULL 
		, PRIMARY KEY (FILE_NO, GROUP_NO)
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
		, FOREIGN KEY(GROUP_NO) REFERENCES BN_USER_GROUP(NO) ON DELETE CASCADE
	)
</insert>


<insert id="CreateFileExtension">
	CREATE TABLE BN_FILE_EXTENSION (
		EXTENSION CHARACTER VARYING(16) PRIMARY KEY <!-- 파일 확장자 -->
		, FILE_TYPE ENUM('Basic', 'Document', 'Image', 'Video', 'Audio', 'Archive' ) NOT NULL <!-- 파일 종류 -->
	)
</insert>

<insert id="CreateFileThumbnail">
	CREATE TABLE BN_FILE_THUMBNAIL (
		FILE_NO BIGINT PRIMARY KEY
		, UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		, THUMBNAIL BINARY VARYING(307200) DEFAULT NULL <!-- 섬네일 320PX jpg -->
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
	)
</insert>

<insert id="CreateFileDocument">
	CREATE TABLE BN_FILE_DOCUMENT (
		FILE_NO BIGINT PRIMARY KEY
		, UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		, TITLE CHARACTER VARYING(128) DEFAULT NULL <!-- 제목 -->
		, SUBJECT CHARACTER VARYING(128) DEFAULT NULL <!-- 주제 -->
		, CREATOR CHARACTER VARYING(128) DEFAULT NULL <!-- 작성자 -->
		, LAST_MODIFIED_BY CHARACTER VARYING(128) DEFAULT NULL <!-- 마지막 수정자 -->
		, CREATE_DATE TIMESTAMP DEFAULT NULL <!-- 생성일. 2022:09:28 09:10:22Z -->
		, MODIFY_DATE TIMESTAMP DEFAULT NULL <!-- 수정일 -->
		, KEYWORDS CHARACTER VARYING(128) DEFAULT NULL <!-- 키워드 테그 -->
		, DESCRIPTION CHARACTER VARYING(128) DEFAULT NULL <!-- 메모 -->
		, HEADING_PAIRS CHARACTER VARYING(128) DEFAULT NULL <!-- 첫 글 -->
		, COMPANY CHARACTER VARYING(128) DEFAULT NULL <!-- 회사 -->
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
	)
</insert>

<insert id="CreateFileImage">
	CREATE TABLE BN_FILE_IMAGE (
		FILE_NO BIGINT PRIMARY KEY
		, UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		, MAKE CHARACTER VARYING(128) DEFAULT NULL <!-- 제조사 -->
		, CAMERA_MODEL_NAME CHARACTER VARYING(128) DEFAULT NULL <!-- 모델명 -->
		, ORIENTATION CHARACTER VARYING(36) DEFAULT NULL <!-- 방향 -->
		, F_NUMBER NUMERIC(10, 7) DEFAULT 0 <!-- 조리개 -->
		, EXPOSURE_TIME CHARACTER VARYING(16) DEFAULT NULL
		, SENSING_METHOD CHARACTER VARYING(128) DEFAULT NULL
		, FLASH CHARACTER VARYING(32) DEFAULT NULL <!-- 플래시 -->
		, LIGHT_SOURCE CHARACTER VARYING(128) DEFAULT NULL
		, WHITE_BALANCE CHARACTER VARYING(128) DEFAULT NULL <!-- White Balance  -->
		, SHUTTER_SPEED CHARACTER VARYING(128) DEFAULT NULL <!-- 셔터스피드 --> 
		, ISO INT DEFAULT 0
		, IMAGE_WIDTH INT DEFAULT 0
		, IMAGE_HEIGHT INT DEFAULT 0
		, CREATE_DATE TIMESTAMP DEFAULT NULL
		, MODIFY_DATE TIMESTAMP DEFAULT NULL
		, GPS_LATITUDE NUMERIC(10, 7) DEFAULT 0
		, GPS_LONGITUDE NUMERIC(10, 7) DEFAULT 0
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
	)
</insert>

<insert id="CreateFileVideo">
	CREATE TABLE BN_FILE_VIDEO (
		FILE_NO BIGINT PRIMARY KEY
		, UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		, MIME_TYPE CHARACTER VARYING(28) DEFAULT NULL
		, AUTHOR CHARACTER VARYING(28) DEFAULT NULL
		, DURATION CHARACTER VARYING(28) DEFAULT NULL
		, PREFERRED_RATE INT DEFAULT 0
		, PREFERRED_VOLUME CHARACTER VARYING(28) DEFAULT NULL
		, AUDIO_FORMAT CHARACTER VARYING(16) DEFAULT NULL
		, AUDIO_BITS_PER_SAMPLE INT DEFAULT 0
		, AUDIO_SAMPLE_RATE INT DEFAULT 0
		, LAYOUT_FLAGS CHARACTER VARYING(16) DEFAULT NULL
		, AUDIO_CHANNELS INT DEFAULT 0
		, COMPRESSOR_VERSION CHARACTER VARYING(16) DEFAULT NULL
		, CAMERA_MODEL_NAME CHARACTER VARYING(32) DEFAULT NULL
		, FIRMWARE_VERSION CHARACTER VARYING(32) DEFAULT NULL
		, AVG_BITRATE CHARACTER VARYING(16) DEFAULT NULL
		, ROTATION INT DEFAULT 0
		, IMAGE_WIDTH INT DEFAULT 0
		, IMAGE_HEIGHT INT DEFAULT 0
		, CREATE_DATE TIMESTAMP DEFAULT NULL
		, MODIFY_DATE TIMESTAMP DEFAULT NULL
		, GPS_LATITUDE NUMERIC(10, 7) DEFAULT NULL
		, GPS_LONGITUDE NUMERIC(10, 7) DEFAULT NULL
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
	)
</insert>

<insert id="CreateFileAudio">
	CREATE TABLE BN_FILE_AUDIO (
		FILE_NO BIGINT PRIMARY KEY
		, UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		, MIME_TYPE CHARACTER VARYING(28) DEFAULT NULL
		, SAMPLE_RATE INT DEFAULT 0 
		, CHANNELS INT DEFAULT 0
		, BITS_PER_SAMPLE INT DEFAULT 0
		, TOTAL_SAMPLES INT DEFAULT 0
		, TITLE CHARACTER VARYING(255) DEFAULT NULL
		, ARTIST CHARACTER VARYING(255) DEFAULT NULL
		, ALBUM CHARACTER VARYING(255) DEFAULT NULL
		, GENRE CHARACTER VARYING(255) DEFAULT NULL
		, ALBUM_ARTIST CHARACTER VARYING(128) DEFAULT NULL
		, DISCNUMBER INT DEFAULT 0
		, ALBUM_DATE CHARACTER VARYING(12) DEFAULT NULL
		, ORGANIZATION CHARACTER VARYING(128) DEFAULT NULL
		, TRACK_NUMBER INT DEFAULT 0
		, DURATION CHARACTER VARYING(28) DEFAULT NULL
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
	)
</insert>

<insert id="CreateFileArchive">
	CREATE TABLE BN_FILE_ARCHIVE (
		FILE_NO BIGINT PRIMARY KEY
		, UPDATE_DATE TIMESTAMP NOT NULL <!-- 수정일 -->
		, ARCHIVE_FORMAT CHARACTER VARYING(8) NOT NULL <!-- 압축 형식 (ZIP 7Z RAR 등) -->
		, TOTAL_ENTRIES INT DEFAULT 0 <!-- 포함된 파일 수 -->
		, UNCOMPRESSED_SIZE BIGINT DEFAULT 0 <!-- 압축 해제 후 총 용량 (byte) -->
		, COMPRESSION_RATIO FLOAT DEFAULT 0 <!-- 압축률 (0.75 = 75%) -->
		, ENCRYPTED BOOLEAN DEFAULT FALSE <!-- 암호 설정 여부 -->
		, PASSWORD_PROTECTED BOOLEAN DEFAULT FALSE <!-- 비밀번호로 보호되는지 -->
		, COMMENT CHARACTER VARYING(128) DEFAULT NULL <!-- 압축파일 내 코멘트 (ZIP 등에서 존재함) -->
		, FOREIGN KEY(FILE_NO) REFERENCES BN_FILE(NO) ON DELETE CASCADE
	)
</insert>

<insert id="insertFileExtension" parameterType="map">
	INSERT INTO BN_FILE_EXTENSION (
		EXTENSION, FILE_TYPE
	) VALUES (
		#{extension}, #{fileType}
	)
</insert>

<select id="selectFileExtensionAll" parameterType="map" resultType="com.utime.burrowNest.storage.vo.BnFileExtension">
	SELECT
		EXTENSION, FILE_TYPE
	FROM BN_FILE_EXTENSION
	ORDER BY EXTENSION
</select>

<select id="selectFileExtensionByExt" parameterType="map" resultType="com.utime.burrowNest.storage.vo.BnFileExtension">
	SELECT
		EXTENSION, FILE_TYPE
	FROM BN_FILE_EXTENSION
	WHERE EXTENSION = #{extension}
</select>

<update id="updateFileExtension" parameterType="com.utime.burrowNest.storage.vo.BnFileExtension" >
	UPDATE BN_FILE_EXTENSION 
		SET FILE_TYPE = #{fileType}
	WHERE EXTENSION = #{extension}
</update>

<delete id="deleteFileExtension" parameterType="map" >
	DELETE FROM BN_FILE_EXTENSION WHERE EXTENSION = #{extension}
</delete>

<insert id="CreateDeniedFileExtension">
	CREATE TABLE BN_FILE_DENIED_EXTENSION (
		EXTENSION CHARACTER VARYING(16) PRIMARY KEY <!-- 파일 확장자 -->
		, MEMO CHARACTER VARYING(32) DEFAULT NULL <!-- 사유 -->
	)
</insert>

<insert id="insertDeniedFileExtension" parameterType="map" >
	INSERT INTO BN_FILE_DENIED_EXTENSION (
		EXTENSION
		<if test="memo != null and memo != '' ">, MEMO</if>
	) VALUES (
		#{extension}
		<if test="memo != null and memo != '' ">, #{memo}</if>		
	)
</insert>

<select id="selectDeniedFileExtension" parameterType="map" resultType="String">
	SELECT
		EXTENSION 
	FROM BN_FILE_DENIED_EXTENSION
	ORDER BY EXTENSION
</select>

<delete id="deleteDeniedFileExtension" parameterType="map" >
	DELETE FROM BN_FILE_DENIED_EXTENSION
	WHERE EXTENSION = #{extension}
</delete>

<!-- 사용 기록 -->
<insert id="createTransferLog">
	CREATE TABLE BN_TRANSFER_LOG (
		NO IDENTITY PRIMARY KEY,
		TS TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
		USER_NO INT NOT NULL,
		ACTION VARCHAR(16) NOT NULL, <!--  'UPLOAD' | 'DOWNLOAD' | 'DELETE' -->
		BYTES BIGINT NOT NULL,
		TARGET_TYPE VARCHAR(8) NOT NULL, <!--  'FILE' | 'DIR' -->
		TARGET_NO BIGINT NOT NULL,
		CONSTRAINT FK_TL_USER FOREIGN KEY (USER_NO) REFERENCES BN_USER(NO)
	)
</insert>

</mapper>