<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utime.burrowNest.storage.mapper.StorageMapper">

<sql id="BnDirectoryColumn">
	DR.NO
   	, DR.REG_DATE
   	, DR.UPDATE_DATE
   	, DR.ENABLED
   	, DR.UID
   	, DR.PUBLIC_ACCESSIBLE
   	, DR.PARENT_NO
   	, DR.OWNER_NO
   	, DR.HAS_CHILD
   	, DR.CREATION
	, DR.LAST_MODIFIED 
	, DR.NAME
	, DR.ABSOLUTE_PATH
</sql>

<sql id="BnFileColumn">
	FL.NO
   	, FL.REG_DATE
   	, FL.UPDATE_DATE
   	, FL.ENABLED
   	, FL.UID
   	, FL.PARENT_NO
   	, FL.OWNER_NO
   	, FL.FILE_LENGTH
   	, FL.FILE_TYPE
   	, FL.CREATION
   	, FL.LAST_MODIFIED
   	, FL.EXTENSION
   	, FL.NAME
</sql>

<resultMap id="AbsPathMap" type="com.utime.burrowNest.storage.vo.AbsPath">
	<id column="NO" property="no"/>
	<result column="REG_DATE" property="regDate"/>
	<result column="UPDATE_DATE" property="updateDate"/>
	<result column="ENABLED" property="enabled"/>
	<result column="UID" property="uid"/>
	<result column="PARENT_NO" property="parentNo"/>
	<result column="OWNER_NO" property="ownerNo"/>
	<result column="CREATION" property="creation"/>
	<result column="LAST_MODIFIED" property="lastModified"/>
	<result column="NAME" property="name"/>
	<result column="ACCESS_FLAGS" property="accType" typeHandler="com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler"/>
</resultMap>

<resultMap id="BnDirectoryMap" type="com.utime.burrowNest.storage.vo.BnDirectory"
	extends="com.utime.burrowNest.storage.mapper.StorageMapper.AbsPathMap">
	<result column="PUBLIC_ACCESSIBLE" property="publicAccessible"/>
	<result column="HAS_CHILD" property="hasChild"/>
	<result column="ABSOLUTE_PATH" property="absolutePath"/>
</resultMap>

<resultMap id="BnFileMap" type="com.utime.burrowNest.storage.vo.BnFile"
	extends="com.utime.burrowNest.storage.mapper.StorageMapper.AbsPathMap">
	<result column="FILE_LENGTH" property="fileLength"/>
	<result column="FILE_TYPE" property="fileType"/>
	<result column="EXTENSION" property="extension"/>
</resultMap>

<!-- 초기화 했는지 여부 -->
<select id="IsInit" resultType="boolean">
	SELECT 
		CASE COUNT(1) 
   			WHEN 1 THEN 1
			ELSE 0
   		END AS RES
   	FROM BN_DIRECTORY 
   	WHERE NO = 1
</select>
	
 <!-- Insert: 새 디렉토리 생성 -->
<insert id="insertDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory" 
	useGeneratedKeys="true" keyProperty="no" keyColumn="NO" >
    INSERT INTO BN_DIRECTORY (
    	UPDATE_DATE
    	, ENABLED
    	, PUBLIC_ACCESSIBLE
    	, PARENT_NO
    	, OWNER_NO
    	, HAS_CHILD
    	, CREATION
		, LAST_MODIFIED 
		, NAME
		, ABSOLUTE_PATH	
	) VALUES (
		CURRENT_TIMESTAMP
		, #{enabled}
		, #{publicAccessible}
		, #{parentNo}
		, #{ownerNo}
		, #{hasChild}
		, #{creation}
		, #{lastModified}
		, #{name}
		, #{absolutePath}
	)
</insert>

<!-- Update: 디렉토리 정보 수정 -->
<update id="updateDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory">
    UPDATE BN_DIRECTORY
    SET UPDATE_DATE = CURRENT_TIMESTAMP
    	, ENABLED = #{enabled}
    	, PUBLIC_ACCESSIBLE = #{publicAccessible}
    	, PARENT_NO = #{parentNo}
    	, HAS_CHILD = #{hasChild}
		, LAST_MODIFIED = #{lastModified}
		, NAME = #{name}
		, ABSOLUTE_PATH	= #{absolutePath}
    WHERE NO = #{no}
</update>

<!-- Select: 특정 디렉토리 검색 -->
<select id="selectDirectoryByNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnDirectory">
    SELECT 
    	<include refid="BnDirectoryColumn" /> 
    FROM BN_DIRECTORY DR
    WHERE DR.NO = #{dirNo}
</select>



<!-- Delete: 특정 디렉토리 삭제 -->
<delete id="deleteDirectoryByNo" parameterType="long">
    DELETE FROM BN_DIRECTORY
    WHERE NO = #{dirNo}
</delete>

<!-- Dir 권한 추가하기 -->
<insert id="insertDirectoryAccess" parameterType="map">
	INSERT INTO BN_DIRECTORY_ACCESS (
		DIR_NO 
		, GROUP_NO  
		, ACCESS_FLAGS 
	) VALUES (
		#{dirNo}
		, #{groupNo}
		, #{accType}
	) 
</insert>

<!-- Dir 권한 수정하기 -->
<update id="updateDirectoryAccess" parameterType="map">
	UPDATE BN_DIRECTORY_ACCESS SET
		ACCESS_FLAGS = #{accType}
	WHERE 1=1
		AND DIR_NO = #{dirNo}
		AND GROUP_NO = #{groupNo}
</update>

<!-- 파일 권한 추가하기 -->
<insert id="insertFileAccess" parameterType="map">
	INSERT INTO BN_FILE_ACCESS (
		FILE_NO 
		, GROUP_NO  
		, ACCESS_FLAGS 
	) VALUES (
		#{fileNo}
		, #{groupNo}
		, #{accType}
	) 
</insert>

<!-- 파일 권한 수정하기 -->
<update id="updateFileAccess" parameterType="map">
	UPDATE BN_FILE_ACCESS SET
		ACCESS_FLAGS = #{accType}
	WHERE 1=1
		AND FILE_NO = #{fileNo}
		AND GROUP_NO = #{groupNo}
</update>

<!-- 파일 추가 -->
<insert id="insertFile" parameterType="com.utime.burrowNest.storage.vo.BnFile" useGeneratedKeys="true" keyProperty="no" keyColumn="NO" >
    INSERT INTO BN_FILE (
    	REG_DATE
    	, UPDATE_DATE
    	, ENABLED
    	, PARENT_NO
    	, OWNER_NO
    	, FILE_LENGTH
    	, FILE_TYPE
    	, CREATION
    	, LAST_MODIFIED
    	<if test="extension != null and extension != '' ">
    	, EXTENSION
    	</if>
    	, NAME
    ) VALUES (
    	CURRENT_TIMESTAMP
    	, CURRENT_TIMESTAMP
    	, #{enabled}
    	, #{parentNo}
    	, #{ownerNo}
    	, #{fileLength}
    	, #{fileType}
    	, #{creation}
    	, #{lastModified}
    	<if test="extension != null and extension != '' ">
    	, #{extension}
    	</if>
    	, #{name}
    )
</insert>

<!-- SELECT -->
<select id="selectFileByNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFile">
    SELECT 
    	<include refid="BnFileColumn" /> 
    FROM BN_FILE FL
    WHERE FL.NO = #{fileNo}
</select>


<!-- UPDATE -->
<update id="updateFile" parameterType="com.utime.burrowNest.storage.vo.BnFile">
    UPDATE BN_FILE
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , ENABLED = #{enabled}
        , FILE_LENGTH = #{fileLength}
        , FILE_TYPE = #{fileType}
        , CREATION = #{creation}
        , LAST_MODIFIED = #{lastModified}
        <if test="extension != null and extension != '' ">
        , EXTENSION = #{extension}
        </if>
        , NAME = #{name}
    WHERE NO = #{no}
</update>

<!-- DELETE -->
<delete id="deleteFileByNo" parameterType="long">
    DELETE FROM BN_FILE
    WHERE NO = #{fileNo}
</delete>

<!-- 확장 정보 유무 -->
<select id="existFileInfo" parameterType="map" resultType="boolean">
	SELECT 
		CASE COUNT(1) 
  			WHEN 1 THEN 1
			ELSE 0
  		END AS RES
  	FROM ${tableName}
  	WHERE FILE_NO = #{fileNo}
</select>

<!-- INSERT -->
<insert id="insertFileDocument" parameterType="com.utime.burrowNest.storage.vo.BnFileDocument">
    INSERT INTO BN_FILE_DOCUMENT (
    	FILE_NO
    	, UPDATE_DATE
    	<if test="title != null and title != '' ">, TITLE</if>
		<if test="subject != null and subject != '' ">, SUBJECT</if>
		<if test="creator != null and creator != '' ">, CREATOR</if>
		<if test="lastModifiedBy != null and lastModifiedBy != '' ">, LAST_MODIFIED_BY</if>
		<if test="createDate != null ">, CREATE_DATE</if>
		<if test="modifyDate != null ">, MODIFY_DATE</if>
		<if test="keywords != null and keywords != '' ">, KEYWORDS</if>
		<if test="description != null and description != '' ">, DESCRIPTION</if>
		<if test="headingPairs != null and headingPairs != '' ">, HEADING_PAIRS</if>
		<if test="company != null and company != '' ">, COMPANY</if>
    ) VALUES (
    	#{fileNo}
    	, CURRENT_TIMESTAMP
    	<if test="title != null and title != '' ">, #{title}</if>
		<if test="subject != null and subject != '' ">, #{subject}</if>
		<if test="creator != null and creator != '' ">, #{creator}</if>
		<if test="lastModifiedBy != null and lastModifiedBy != '' ">, #{lastModifiedBy}</if>
		<if test="createDate != null ">, #{createDate}</if>
		<if test="modifyDate != null ">, #{modifyDate}</if>
		<if test="keywords != null and keywords != '' ">, #{keywords}</if>
		<if test="description != null and description != '' ">, #{description}</if>
		<if test="headingPairs != null and headingPairs != '' ">, #{headingPairs}</if>
		<if test="company != null and company != '' ">, #{company}</if>
    )
</insert>

<!-- SELECT -->
<select id="selectFileDocumentByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileDocument">
    SELECT 
    	FILE_NO 
    	, UPDATE_DATE
    	, TITLE
		, SUBJECT
		, CREATOR
		, LAST_MODIFIED_BY
		, CREATE_DATE
		, MODIFY_DATE
		, KEYWORDS
		, DESCRIPTION
		, HEADING_PAIRS
		, COMPANY
    FROM BN_FILE_DOCUMENT
    WHERE FILE_NO = #{fileNo};
</select>

<!-- UPDATE -->
<update id="updateFileDocument" parameterType="com.utime.burrowNest.storage.vo.BnFileDocument">
    UPDATE BN_FILE_DOCUMENT
    SET UPDATE_DATE = CURRENT_TIMESTAMP
    	, TITLE = <choose> <when test="title != null and title != '' ">#{title}</when> <otherwise>NULL</otherwise> </choose>
		, SUBJECT = <choose> <when test="subject != null and subject != '' ">#{subject}</when> <otherwise>NULL</otherwise> </choose>
		, CREATOR = <choose> <when test="creator != null and creator != '' ">#{creator}</when> <otherwise>NULL</otherwise> </choose>
		, LAST_MODIFIED_BY = <choose> <when test="lastModifiedBy != null and lastModifiedBy != '' ">#{lastModifiedBy}</when> <otherwise>NULL</otherwise> </choose>
		, CREATE_DATE = <choose> <when test="createDate != null ">#{createDate}</when> <otherwise>NULL</otherwise> </choose>
		, MODIFY_DATE = <choose> <when test="modifyDate != null ">#{modifyDate}</when> <otherwise>NULL</otherwise> </choose>
		, KEYWORDS = <choose> <when test="keywords != null and keywords != '' ">#{keywords}</when> <otherwise>NULL</otherwise> </choose>
		, DESCRIPTION = <choose> <when test="description != null and description != '' ">#{description}</when> <otherwise>NULL</otherwise> </choose>
		, HEADING_PAIRS = <choose> <when test="headingPairs != null and headingPairs != '' ">#{headingPairs}</when> <otherwise>NULL</otherwise> </choose>
		, COMPANY = <choose> <when test="company != null and company != '' ">#{company}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<insert id="insertFileImage" parameterType="com.utime.burrowNest.storage.vo.BnFileImage">
    INSERT INTO BN_FILE_IMAGE (
        FILE_NO
        , UPDATE_DATE
        <if test="make != null and make != '' ">, MAKE</if>
		<if test="cameraModelName != null and cameraModelName != '' ">, CAMERA_MODEL_NAME</if> 
		<if test="orientation != null and orientation != '' ">, ORIENTATION</if>
		, F_NUMBER
		<if test="exposureTime != null and exposureTime != '' ">, EXPOSURE_TIME</if>
		<if test="sensingMethod != null and sensingMethod != '' ">, SENSING_METHOD</if>
		<if test="flash != null and flash != '' ">, FLASH</if>
		<if test="lightSource != null and lightSource != '' ">, LIGHT_SOURCE</if> 
		<if test="whiteBalance != null and whiteBalance != '' ">, WHITE_BALANCE</if>
		<if test="shutterSpeed != null and shutterSpeed != '' ">, SHUTTER_SPEED</if>
		, ISO 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT
		<if test="createDate != null">, CREATE_DATE</if>
		<if test="modifyDate != null">, MODIFY_DATE</if>
		, GPS_LATITUDE
		, GPS_LONGITUDE
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="make != null and make != '' ">, #{make}</if>
		<if test="cameraModelName != null and cameraModelName != '' ">, #{cameraModelName}</if> 
		<if test="orientation != null and orientation != '' ">, #{orientation}</if>
		, #{fNumber}
		<if test="exposureTime != null and exposureTime != '' ">, #{exposureTime}</if>
		<if test="sensingMethod != null and sensingMethod != '' ">, #{sensingMethod}</if>
		<if test="flash != null and flash != '' ">, #{flash}</if>
		<if test="lightSource != null and lightSource != '' ">, #{lightSource}</if> 
		<if test="whiteBalance != null and whiteBalance != '' ">, #{whiteBalance}</if>
		<if test="shutterSpeed != null and shutterSpeed != '' ">, #{shutterSpeed}</if>
		, #{iso} 
		, #{imageWidth} 
		, #{imageHeight}
		<if test="createDate != null">, #{createDate}</if>
		<if test="modifyDate != null">, #{modifyDate}</if>
		, #{gpsLatitude}
		, #{gpsLongitude}
    )
</insert>

<update id="updateFileImage" parameterType="com.utime.burrowNest.storage.vo.BnFileImage">
    UPDATE BN_FILE_IMAGE
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , MAKE = <choose> <when test="make != null and make != '' ">#{make}</when> <otherwise>NULL</otherwise> </choose>
		, CAMERA_MODEL_NAME = <choose> <when test="cameraModelName != null and cameraModelName != '' ">#{cameraModelName}</when> <otherwise>NULL</otherwise> </choose>
		, ORIENTATION  = <choose> <when test="orientation != null and orientation != '' ">#{orientation}</when> <otherwise>NULL</otherwise> </choose>
		, F_NUMBER = #{fNumber}
		, EXPOSURE_TIME = <choose> <when test="exposureTime != null and exposureTime != '' ">#{exposureTime}</when> <otherwise>NULL</otherwise> </choose> 
		, SENSING_METHOD  = <choose> <when test="sensingMethod != null and sensingMethod != '' ">#{sensingMethod}</when> <otherwise>NULL</otherwise> </choose>
		, FLASH  = <choose> <when test="flash != null and flash != '' ">#{flash}</when> <otherwise>NULL</otherwise> </choose>
		, LIGHT_SOURCE  = <choose> <when test="lightSource != null and lightSource != '' ">#{lightSource}</when> <otherwise>NULL</otherwise> </choose>
		, WHITE_BALANCE = <choose> <when test="whiteBalance != null and whiteBalance != '' ">#{whiteBalance}</when> <otherwise>NULL</otherwise> </choose>
		, SHUTTER_SPEED  = <choose> <when test="shutterSpeed != null and shutterSpeed != '' ">#{shutterSpeed}</when> <otherwise>NULL</otherwise> </choose>
		, ISO = #{iso}
		, IMAGE_WIDTH = #{imageWidth} 
		, IMAGE_HEIGHT = #{imageHeight}
		, CREATE_DATE = <choose> <when test="createDate != null ">#{createDate}</when> <otherwise>NULL</otherwise> </choose> 
		, MODIFY_DATE = <choose> <when test="modifyDate != null ">#{modifyDate}</when> <otherwise>NULL</otherwise> </choose>
		, GPS_LATITUDE = #{gpsLatitude}
		, GPS_LONGITUDE = #{gpsLongitude}
    WHERE FILE_NO = #{fileNo}
</update>

<select id="selectFileImageByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileImage">
    SELECT 
    	FILE_NO
    	, UPDATE_DATE
        , MAKE
		, CAMERA_MODEL_NAME 
		, ORIENTATION 
		, F_NUMBER 
		, EXPOSURE_TIME 
		, SENSING_METHOD 
		, FLASH 
		, LIGHT_SOURCE 
		, WHITE_BALANCE
		, SHUTTER_SPEED 
		, ISO 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT
		, CREATE_DATE
		, MODIFY_DATE
		, GPS_LATITUDE
		, GPS_LONGITUDE
    FROM BN_FILE_IMAGE
    WHERE FILE_NO = #{fileNo}
</select>

<insert id="insertFileVideo" parameterType="com.utime.burrowNest.storage.vo.BnFileVideo">
    INSERT INTO BN_FILE_VIDEO (
        FILE_NO
        , UPDATE_DATE
        <if test="mimeType != null and mimeType != '' ">, MIME_TYPE</if>
		<if test="author != null and author != '' ">, AUTHOR</if>
		<if test="duration != null and duration != '' ">, DURATION</if>
		, PREFERRED_RATE 
		<if test="preferredVolume != null and preferredVolume != '' ">, PREFERRED_VOLUME</if>
		<if test="audioFormat != null and audioFormat != '' ">, AUDIO_FORMAT</if>
		, AUDIO_BITS_PER_SAMPLE 
		, AUDIO_SAMPLE_RATE 
		<if test="layoutFlags != null and layoutFlags != '' ">, LAYOUT_FLAGS</if>
		, AUDIO_CHANNELS
		<if test="compressorVersion != null and compressorVersion != '' ">, COMPRESSOR_VERSION</if>
		<if test="cameraModelName != null and cameraModelName != '' ">, CAMERA_MODEL_NAME</if>
		<if test="firmwareVersion != null and firmwareVersion != '' ">, FIRMWARE_VERSION</if>
		<if test="avgBitrate != null and avgBitrate != '' ">, AVG_BITRATE</if>
		, ROTATION 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT 
		<if test="createDate != null ">, CREATE_DATE</if>
		<if test="modifyDate != null ">, MODIFY_DATE</if>
		, GPS_LATITUDE 
		, GPS_LONGITUDE 
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="mimeType != null and mimeType != '' ">, #{mimeType}</if>
		<if test="author != null and author != '' ">, #{author}</if>
		<if test="duration != null and duration != '' ">, #{duration}</if>
		, #{preferredRate} 
		<if test="preferredVolume != null and preferredVolume != '' ">, #{preferredVolume}</if>
		<if test="audioFormat != null and audioFormat != '' ">, #{audioFormat}</if>
		, #{audioBitsPerSample} 
		, #{audioSampleRate} 
		<if test="layoutFlags != null and layoutFlags != '' ">, #{layoutFlags}</if>
		, #{audioChannels}
		<if test="compressorVersion != null and compressorVersion != '' ">, #{compressorVersion}</if>
		<if test="cameraModelName != null and cameraModelName != '' ">, #{cameraModelName}</if>
		<if test="firmwareVersion != null and firmwareVersion != '' ">, #{firmwareVersion}</if>
		<if test="avgBitrate != null and avgBitrate != '' ">, #{avgBitrate}</if>
		, #{rotation} 
		, #{imageWidth} 
		, #{imageHeight} 
		<if test="createDate != null ">, #{createDate}</if>
		<if test="modifyDate != null ">, #{modifyDate}</if>
		, #{gpsLatitude} 
		, #{gpsLongitude} 
    )
</insert>

<update id="updateFileVideo" parameterType="com.utime.burrowNest.storage.vo.BnFileVideo">
    UPDATE BN_FILE_VIDEO
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , MIME_TYPE = <choose> <when test="mimeType != null and mimeType != '' ">#{mimeType}</when> <otherwise>NULL</otherwise> </choose>
		, AUTHOR = <choose> <when test="author != null and author != '' ">#{author}</when> <otherwise>NULL</otherwise> </choose>
		, DURATION = <choose> <when test="duration != null and duration != '' ">#{duration}</when> <otherwise>NULL</otherwise> </choose>
		, PREFERRED_RATE = #{preferredRate}
		, PREFERRED_VOLUME = <choose> <when test="preferredVolume != null and preferredVolume != '' ">#{preferredVolume}</when> <otherwise>NULL</otherwise> </choose>
		, AUDIO_FORMAT = <choose> <when test="audioFormat != null and audioFormat != '' ">#{audioFormat}</when> <otherwise>NULL</otherwise> </choose>
		, AUDIO_BITS_PER_SAMPLE = #{audioBitsPerSample}
		, AUDIO_SAMPLE_RATE = #{audioSampleRate}   
		, LAYOUT_FLAGS = <choose> <when test="layoutFlags != null and layoutFlags != '' ">#{layoutFlags}</when> <otherwise>NULL</otherwise> </choose>
		, AUDIO_CHANNELS = #{audioChannels}
		, COMPRESSOR_VERSION = <choose> <when test="compressorVersion != null and compressorVersion != '' ">#{compressorVersion}</when> <otherwise>NULL</otherwise> </choose> 
		, CAMERA_MODEL_NAME = <choose> <when test="cameraModelName != null and cameraModelName != '' ">#{cameraModelName}</when> <otherwise>NULL</otherwise> </choose>
		, FIRMWARE_VERSION = <choose> <when test="firmwareVersion != null and firmwareVersion != '' ">#{firmwareVersion}</when> <otherwise>NULL</otherwise> </choose>
		, AVG_BITRATE = <choose> <when test="avgBitrate != null and avgBitrate != '' ">#{avgBitrate}</when> <otherwise>NULL</otherwise> </choose>
		, ROTATION = #{rotation}   
		, IMAGE_WIDTH = #{imageWidth} 
		, IMAGE_HEIGHT = #{imageHeight}
		, CREATE_DATE = <choose> <when test="createDate != null ">#{createDate}</when> <otherwise>NULL</otherwise> </choose> 
		, MODIFY_DATE = <choose> <when test="modifyDate != null ">#{modifyDate}</when> <otherwise>NULL</otherwise> </choose> 
		, GPS_LATITUDE = #{gpsLatitude} 
		, GPS_LONGITUDE = #{gpsLongitude}
    WHERE 
        FILE_NO = #{fileNo}
</update>

<select id="selectFileVideoByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileVideo">
    SELECT 
        FILE_NO
        , UPDATE_DATE
        , MIME_TYPE
		, AUTHOR 
		, DURATION
		, PREFERRED_RATE 
		, PREFERRED_VOLUME 
		, AUDIO_FORMAT 
		, AUDIO_BITS_PER_SAMPLE 
		, AUDIO_SAMPLE_RATE 
		, LAYOUT_FLAGS 
		, AUDIO_CHANNELS
		, COMPRESSOR_VERSION 
		, CAMERA_MODEL_NAME 
		, FIRMWARE_VERSION 
		, AVG_BITRATE 
		, ROTATION 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT 
		, CREATE_DATE 
		, MODIFY_DATE 
		, GPS_LATITUDE 
		, GPS_LONGITUDE 
    FROM 
        BN_FILE_VIDEO
    WHERE 
        FILE_NO = #{fileNo}
</select>

<!-- INSERT -->
<insert id="insertFileAudio" parameterType="com.utime.burrowNest.storage.vo.BnFileAudio">
    INSERT INTO BN_FILE_AUDIO (
        FILE_NO
        , UPDATE_DATE
        <if test="mimeType != null and mimeType != '' ">, MIME_TYPE</if>
		, SAMPLE_RATE  
		, CHANNELS
		, BITS_PER_SAMPLE
		, TOTAL_SAMPLES
		<if test="title != null and title != '' ">, TITLE</if>
		<if test="artist != null and artist != '' ">, ARTIST</if>
		<if test="album != null and album != '' ">, ALBUM</if>
		<if test="genre != null and genre != '' ">, GENRE</if>
		<if test="albumArtist != null and albumArtist != '' ">, ALBUM_ARTIST</if>
		, DISCNUMBER
		<if test="albumDate != null and albumDate != '' ">, ALBUM_DATE</if>
		<if test="organization != null and organization != '' ">, ORGANIZATION</if>
		, TRACK_NUMBER
		<if test="duration != null and duration != '' ">, DURATION</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="mimeType != null and mimeType != '' ">, #{mimeType}</if>
		, #{sampleRate}
		, #{channels}
		, #{bitsPerSample}
		, #{totalSamples}
		<if test="title != null and title != '' ">, #{title}</if>
		<if test="artist != null and artist != '' ">, #{artist}</if>
		<if test="album != null and album != '' ">, #{album}</if>
		<if test="genre != null and genre != '' ">, #{genre}</if>
		<if test="albumArtist != null and albumArtist != '' ">, #{albumArtist}</if>
		, #{discNumber}  
		<if test="albumDate != null and albumDate != '' ">, #{albumDate}</if>
		<if test="organization != null and organization != '' ">, #{organization}</if>
		, #{trackNumber}
		<if test="duration != null and duration != '' ">, #{duration}</if>
    )
</insert>

<!-- UPDATE -->
<update id="updateFileAudio" parameterType="com.utime.burrowNest.storage.vo.BnFileAudio">
    UPDATE BN_FILE_AUDIO
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , MIME_TYPE = <choose> <when test="mimeType != null and mimeType != '' ">#{mimeType}</when> <otherwise>NULL</otherwise> </choose>
		, SAMPLE_RATE = #{sampleRate}
		, CHANNELS = #{channels}
		, BITS_PER_SAMPLE = #{bitsPerSample}
		, TOTAL_SAMPLES = #{totalSamples}
		, TITLE = <choose> <when test="title != null and title != '' ">#{title}</when> <otherwise>NULL</otherwise> </choose>
		, ARTIST = <choose> <when test="artist != null and artist != '' ">#{artist}</when> <otherwise>NULL</otherwise> </choose>
		, ALBUM = <choose> <when test="album != null and album != '' ">#{album}</when> <otherwise>NULL</otherwise> </choose>
		, GENRE = <choose> <when test="genre != null and genre != '' ">#{genre}</when> <otherwise>NULL</otherwise> </choose>
		, ALBUM_ARTIST = <choose> <when test="albumArtist != null and albumArtist != '' ">#{albumArtist}</when> <otherwise>NULL</otherwise> </choose>
		, DISCNUMBER = #{discNumber}
		, ALBUM_DATE = <choose> <when test="albumDate != null and albumDate != '' ">#{albumDate}</when> <otherwise>NULL</otherwise> </choose>
		, ORGANIZATION = <choose> <when test="organization != null and organization != '' ">#{organization}</when> <otherwise>NULL</otherwise> </choose>
		, TRACK_NUMBER = #{trackNumber}
		, DURATION = <choose> <when test="duration != null and duration != '' ">#{duration}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<!-- SELECT -->
<select id="selectFileAudioByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileAudio">
    SELECT
        FILE_NO
        , UPDATE_DATE
        , MIME_TYPE
		, SAMPLE_RATE  
		, CHANNELS
		, BITS_PER_SAMPLE
		, TOTAL_SAMPLES
		, TITLE
		, ARTIST
		, ALBUM
		, GENRE
		, ALBUM_ARTIST
		, DISCNUMBER
		, ALBUM_DATE
		, ORGANIZATION
		, TRACK_NUMBER
		, DURATION
    FROM BN_FILE_AUDIO
    WHERE FILE_NO = #{fileNo}
</select>

<!-- INSERT -->
<insert id="insertFileArchive" parameterType="com.utime.burrowNest.storage.vo.BnFileArchive">
    INSERT INTO BN_FILE_ARCHIVE (
        FILE_NO
        , UPDATE_DATE
        , ARCHIVE_FORMAT
        , TOTAL_ENTRIES
        , UNCOMPRESSED_SIZE
        , COMPRESSION_RATIO
        , ENCRYPTED
        , PASSWORD_PROTECTED
        <if test="comment != null and comment != '' ">, COMMENT</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        , #{archiveFormat}
        , #{totalEntries}
        , #{uncompressedSize}
        , #{compressionRatio}
        , #{encrypted}
        , #{passwordProtected}
        <if test="comment != null and comment != '' ">, #{comment}</if>
    )
</insert>

<!-- SELECT -->
<select id="selectFileArchiveByFileNo" resultType="com.utime.burrowNest.storage.vo.BnFileArchive" parameterType="long">
    SELECT
        FILE_NO
        , UPDATE_DATE
        , ARCHIVE_FORMAT
        , TOTAL_ENTRIES
        , UNCOMPRESSED_SIZE
        , COMPRESSION_RATIO
        , ENCRYPTED
        , PASSWORD_PROTECTED
        , COMMENT
    FROM BN_FILE_ARCHIVE
    WHERE FILE_NO = #{fileNo}
</select>

<!-- UPDATE -->
<update id="updateFileArchive" parameterType="com.utime.burrowNest.storage.vo.BnFileArchive">
    UPDATE BN_FILE_ARCHIVE
    SET UPDATE_DATE = CURRENT_TIMESTAMP,
        , ARCHIVE_FORMAT = #{archiveFormat, typeHandler=com.utime.burrowNest.storage.typehandler.EArchiveTypeTypeHandler},
        , TOTAL_ENTRIES = #{totalEntries}
        , UNCOMPRESSED_SIZE = #{uncompressedSize}
        , COMPRESSION_RATIO = #{compressionRatio}
        , ENCRYPTED = #{encrypted}
        , PASSWORD_PROTECTED = #{passwordProtected}
        , COMMENT = <choose> <when test="comment != null and comment != '' ">#{comment}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<!-- INSERT -->
<insert id="insertThumbnail" parameterType="map">
    INSERT INTO BN_FILE_THUMBNAIL (
        FILE_NO
        , UPDATE_DATE
        , THUMBNAIL
    ) VALUES (
        #{fileNo},
        ,CURRENT_TIMESTAMP
        ,#{thumbnail, jdbcType=VARBINARY}
    )
</insert>

<!-- UPDATE -->
<update id="updateThumbnail" parameterType="map">
    UPDATE BN_FILE_THUMBNAIL SET
        UPDATE_DATE = CURRENT_TIMESTAMP
        , THUMBNAIL = #{thumbnail, jdbcType=VARBINARY}
    WHERE FILE_NO = #{fileNo}
</update>

<!-- SELECT -->
<select id="selectThumbnail" parameterType="long" resultMap="com.utime.burrowNest.common.mapper.CommonMapper.BinResultVoMap">
    SELECT
        THUMBNAIL AS BIN_DATA
    FROM BN_FILE_THUMBNAIL THM
    	INNER JOIN BN_FILE F ON THM.FILE_NO = F.NO 
    WHERE F.UID = #{fid}
</select>

<!-- 루트 directory 조회 -->
<select id="selectRootDirectory" parameterType="com.utime.burrowNest.user.vo.UserVo" resultMap="BnDirectoryMap">
	SELECT 
		<include refid="BnDirectoryColumn" />
		, DA.ACCESS_FLAGS
	FROM BN_DIRECTORY DR
	    INNER JOIN BN_DIRECTORY_ACCESS DA ON DR.NO = DA.DIR_NO
    WHERE 1=1
    	AND DA.GROUP_NO = #{group.groupNo}
    	<if test="group.role.name() != 'Admin' ">
    	AND DR.ENABLED = TRUE 
    	AND BITAND( DA.ACCESS_FLAGS, #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler} ) = #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler}
    	</if>
	ORDER BY DR.PARENT_NO ASC
	LIMIT 1 OFFSET 0
</select>

<!-- dir 조회 -->
<select id="selectDirectoryByGuid" parameterType="map" resultMap="BnDirectoryMap">
	SELECT 
		<include refid="BnDirectoryColumn" />
		, DA.ACCESS_FLAGS
	FROM BN_DIRECTORY DR
	    INNER JOIN BN_DIRECTORY_ACCESS DA ON DR.NO = DA.DIR_NO
    WHERE 1=1
    	AND DR.ENABLED = TRUE 
    	AND DA.GROUP_NO = #{group.groupNo}
    	AND DR.GUID = #{guid}
    	<if test="group.role.name() != 'Admin' ">
    	AND BITAND( DA.ACCESS_FLAGS, #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler} ) = #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler}
    	</if>
    ORDER BY DR.NAME
</select>


<!-- 하위 Dir 조회 -->
<select id="selectChildDirectory" parameterType="map" resultMap="BnDirectoryMap">
	SELECT 
		<include refid="BnDirectoryColumn" />
		, DA.ACCESS_FLAGS
	FROM BN_DIRECTORY DR
	    INNER JOIN BN_DIRECTORY_ACCESS DA ON DR.NO = DA.DIR_NO
    WHERE 1=1
    	AND DR.ENABLED = TRUE 
    	AND DA.GROUP_NO = #{group.groupNo}
    	AND DR.PARENT_NO = #{parentNo}
    	<if test="group.role.name() != 'Admin' ">
    	AND BITAND( DA.ACCESS_FLAGS, #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler} ) = #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler}
    	</if>
    ORDER BY DR.NAME	
</select>

</mapper>