<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utime.burrowNest.storage.mapper.StorageMapper">


 <!-- Insert: 새 디렉토리 생성 -->
<insert id="insertBnDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory" 
	useGeneratedKeys="true" keyProperty="no">
    INSERT INTO BN_DIRECTORY (
    	UPDATE_DATE
    	, ENABLED
    	, PARENT_NO
    	, HAS_CHILD
    	, CREATION
		, LAST_MODIFIED 
		, NAME
		, ABSOLUTE_PATH	
	) VALUES (
		CURRENT_TIMESTAMP
		, #{enabled}
		, #{parentNo}
		, #{hasChild}
		, #{creation}
		, #{lastModified}
		, #{name}
		, #{absolutePath}
	)
</insert>

<!-- Update: 디렉토리 정보 수정 -->
<update id="updateBnDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory">
    UPDATE BN_DIRECTORY
    SET UPDATE_DATE = CURRENT_TIMESTAMP
    	, ENABLED = #{enabled}
    	, PARENT_NO = #{parentNo}
    	, HAS_CHILD = #{hasChild}
		, LAST_MODIFIED = #{lastModified}
		, NAME = #{name}
		, ABSOLUTE_PATH	= #{absolutePath}
    WHERE NO = #{no}
</update>

<!-- Select: 특정 디렉토리 검색 -->
<select id="selectBnDirectoryByNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnDirectory">
    SELECT 
    	NO
    	, REG_DATE
    	, UPDATE_DATE
    	, ENABLED
    	, PARENT_NO
    	, HAS_CHILD
    	, CREATION
		, LAST_MODIFIED 
		, NAME
		, ABSOLUTE_PATH
    FROM BN_DIRECTORY
    WHERE NO = #{dirNo}
</select>

<!-- Delete: 특정 디렉토리 삭제 -->
<delete id="deleteBnDirectoryByNo" parameterType="long">
    DELETE FROM BN_DIRECTORY
    WHERE NO = #{dirNo}
</delete>

<!-- Dir 권한 추가하기 -->
<insert id="InsertDirectoryAccess" parameterType="map">
	INSERT INTO BN_DIRECTORY_ACCESS (
		DIR_NO 
		, USER_NO  
		, ACCESS_FLAGS 
	) VALUES (
		#{dirNo}
		, #{userNo}
		, #{accType}
	) 
</insert>

<!-- 파일 권한 추가하기 -->
<insert id="InsertFileAccess" parameterType="map">
	INSERT INTO BN_File_ACCESS (
		FILE_NO 
		, USER_NO  
		, ACCESS_FLAGS 
	) VALUES (
		#{fileNo}
		, #{userNo}
		, #{accType}
	) 
</insert>

<!-- 파일 추가 -->
<insert id="insertBnFile" parameterType="com.utime.burrowNest.storage.vo.BnFile" useGeneratedKeys="true" keyProperty="no" >
    INSERT INTO BN_FILE (
    	REG_DATE
    	, UPDATE_DATE
    	, ENABLED
    	, PARENT_NO
    	, FILE_LENGTH
    	, FILE_TYPE
    	, CREATION
    	, LAST_MODIFIED
    	, EXTENSION
    	, NAME
    ) VALUES (
    	CURRENT_TIMESTAMP
    	, CURRENT_TIMESTAMP
    	, #{enabled}
    	, #{parentNo}
    	, #{fileLength}
    	, #{fileType}
    	, #{creation}
    	, #{lastModified}
    	, #{extension}
    	, #{name}
    )
</insert>

<!-- SELECT -->
<select id="selectBnFileByNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFile">
    SELECT 
    	NO
    	, REG_DATE
    	, UPDATE_DATE
    	, ENABLED
    	, PARENT_NO
    	, FILE_LENGTH
    	, FILE_TYPE
    	, CREATION
    	, LAST_MODIFIED
    	, EXTENSION
    	, NAME
    FROM BN_FILE
    WHERE NO = #{fileNo}
</select>


<!-- UPDATE -->
<update id="updateBnFile" parameterType="com.utime.burrowNest.storage.vo.BnFile">
    UPDATE BN_FILE
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , ENABLED = #{enabled}
        , FILE_LENGTH = #{fileLength}
        , FILE_TYPE = #{fileType}
        , CREATION = #{creation}
        , LAST_MODIFIED = #{lastModified}
        , EXTENSION = #{extension}
        , NAME = #{name}
    WHERE NO = #{no}
</update>

<!-- DELETE -->
<delete id="deleteBnFileByNo" parameterType="long">
    DELETE FROM BN_FILE
    WHERE NO = #{fileNo}
</delete>

<!-- INSERT -->
<insert id="insertBnFileDocument" parameterType="com.utime.burrowNest.storage.vo.BnFileDocument">
    INSERT INTO BN_FILE_DOCUMENT (
    	FILE_NO
    	, UPDATE_DATE
    	<if test="title != null and title != '' ">, TITLE</if>
    	<if test="subject != null and subject != '' ">, SUBJECT</if>
    	<if test="author != null and author != '' ">, AUTHOR</if>
    	<if test="manager != null and manager != '' ">, MANAGER</if>
    	<if test="company != null and company != '' ">, COMPANY</if>
    	<if test="category != null and category != '' ">, CATEGORY</if>
    	<if test="keywords != null and keywords != '' ">, KEYWORDS</if>
    	<if test="notes != null and notes != '' ">, NOTES</if>
    ) VALUES (
    	#{fileNo}
    	, CURRENT_TIMESTAMP
    	<if test="title != null and title != '' ">, #{title}</if> 
    	<if test="subject != null and subject != '' ">, #{subject}</if> 
    	<if test="author != null and author != '' ">, #{author}</if> 
    	<if test="manager != null and manager != '' ">, #{manager}</if> 
    	<if test="company != null and company != '' ">, #{company}</if> 
    	<if test="category != null and category != '' ">, #{category}</if> 
    	<if test="keywords != null and keywords != '' ">, #{keywords}</if> 
    	<if test="notes != null and notes != '' ">, #{notes}</if> 
    )
</insert>

<!-- SELECT -->
<select id="selectBnFileDocumentByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileDocument">
    SELECT 
    	FILE_NO
    	, UPDATE_DATE
    	, TITLE
    	, SUBJECT
    	, AUTHOR
    	, MANAGER
    	, COMPANY
    	, CATEGORY
    	, KEYWORDS
    	, NOTES
    FROM BN_FILE_DOCUMENT
    WHERE FILE_NO = #{fileNo};
</select>

<!-- UPDATE -->
<update id="updateBnFileDocument" parameterType="com.utime.burrowNest.storage.vo.BnFileDocument">
    UPDATE BN_FILE_DOCUMENT
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , TITLE = <choose> <when test="title != null and title != '' ">#{title}</when> <otherwise>NULL</otherwise> </choose>
        , SUBJECT = <choose> <when test="subject != null and subject != '' ">#{subject}</when> <otherwise>NULL</otherwise> </choose>
        , AUTHOR = <choose> <when test="author != null and author != '' ">#{author}</when> <otherwise>NULL</otherwise> </choose>
        , MANAGER = <choose> <when test="manager != null and manager != '' ">#{whiteBalance}</when> <otherwise>NULL</otherwise> </choose>
        , COMPANY = <choose> <when test="company != null and company != '' ">#{company}</when> <otherwise>NULL</otherwise> </choose>
        , CATEGORY = <choose> <when test="category != null and category != '' ">#{category}</when> <otherwise>NULL</otherwise> </choose>
        , KEYWORDS = <choose> <when test="keywords != null and keywords != '' ">#{keywords}</when> <otherwise>NULL</otherwise> </choose>
        , NOTES = <choose> <when test="notes != null and notes != '' ">#{notes}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<insert id="insertBnFileImage" parameterType="com.utime.burrowNest.storage.vo.BnFileImage">
    INSERT INTO BN_FILE_IMAGE (
        FILE_NO
        , UPDATE_DATE
        <if test="cameraModel != null and cameraModel != '' ">, CAMERA_MODEL</if>
        <if test="cameraManufacturer != null and cameraManufacturer != '' ">, CAMERA_MANUFACTURER</if>
        , APERTURE_VALUE
        , SHUTTER_SPEED
        , ISO_VALUE
        , FOCAL_LENGTH
        <if test="captureDate != null ">, CAPTURE_DATE</if>
        <if test="captureTime != null ">, CAPTURE_TIME</if>
        , IMAGE_WIDTH
        , IMAGE_HEIGHT
        , GPS_LATITUDE
        , GPS_LONGITUDE
        , FLASH_USED
        <if test="whiteBalance != null and whiteBalance != '' ">, WHITE_BALANCE</if>
        <if test="sceneMode != null and sceneMode != '' ">, SCENE_MODE</if>
        <if test="softwareVersion != null and softwareVersion != '' ">, SOFTWARE_VERSION</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="cameraModel != null and cameraModel != '' ">,#{cameraModel}</if>
        <if test="cameraManufacturer != null and cameraManufacturer != '' ">,#{cameraManufacturer}</if> 
        , #{apertureValue}
        , #{shutterSpeed}
        , #{isoValue}
        , #{focalLength} 
        <if test="captureDate != null ">, #{captureDate}</if>
        <if test="captureTime != null ">, #{captureTime}</if>
        , #{imageWidth}
        , #{imageHeight} 
        , #{gpsLatitude}
        , #{gpsLongitude}
        , #{flashUsed}, 
        <if test="whiteBalance != null and whiteBalance != '' ">,#{whiteBalance}</if>
        <if test="sceneMode != null and sceneMode != '' ">,#{sceneMode}</if>
        <if test="softwareVersion != null and softwareVersion != '' ">,#{softwareVersion}</if>
    )
</insert>

<update id="updateBnFileImage" parameterType="com.utime.burrowNest.storage.vo.BnFileImage">
    UPDATE BN_FILE_IMAGE
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , CAMERA_MODEL = <choose> <when test="cameraModel != null and cameraModel != '' ">#{cameraModel}</when> <otherwise>NULL</otherwise> </choose> 
        , CAMERA_MANUFACTURER = <choose> <when test="cameraManufacturer != null and cameraManufacturer != '' ">#{cameraManufacturer}</when> <otherwise>NULL</otherwise> </choose>
        , APERTURE_VALUE = #{apertureValue}
        , SHUTTER_SPEED = #{shutterSpeed}
        , ISO_VALUE = #{isoValue}
        , FOCAL_LENGTH = #{focalLength}
        , CAPTURE_DATE = <choose> <when test="captureDate != null ">#{captureDate}</when> <otherwise>NULL</otherwise> </choose>
        , CAPTURE_TIME = <choose> <when test="captureTime != null ">#{captureTime}</when> <otherwise>NULL</otherwise> </choose>
        , IMAGE_WIDTH = #{imageWidth}
        , IMAGE_HEIGHT = #{imageHeight}
        , GPS_LATITUDE = #{gpsLatitude}
        , GPS_LONGITUDE = #{gpsLongitude}
        , FLASH_USED = #{flashUsed}
        , WHITE_BALANCE = <choose> <when test="whiteBalance != null and whiteBalance != '' ">#{whiteBalance}</when> <otherwise>NULL</otherwise> </choose>
        , SCENE_MODE = <choose> <when test="sceneMode != null and sceneMode != '' ">#{sceneMode}</when> <otherwise>NULL</otherwise> </choose>
        , SOFTWARE_VERSION = <choose> <when test="softwareVersion != null and softwareVersion != '' ">#{softwareVersion}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<select id="selectBnFileImageByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileImage">
    SELECT 
    	FILE_NO
    	, UPDATE_DATE
        , CAMERA_MODEL
        , CAMERA_MANUFACTURER
        , APERTURE_VALUE
        , SHUTTER_SPEED
        , ISO_VALUE
        , FOCAL_LENGTH
        , CAPTURE_DATE
        , CAPTURE_TIME
        , IMAGE_WIDTH
        , IMAGE_HEIGHT
        , GPS_LATITUDE
        , GPS_LONGITUDE
        , FLASH_USED
        , WHITE_BALANCE
        , SCENE_MODE
        , SOFTWARE_VERSION
    FROM BN_FILE_DOCUMENT
    WHERE FILE_NO = #{fileNo}
</select>

<insert id="insertBnFileVideo" parameterType="com.utime.burrowNest.storage.vo.BnFileVideo">
    INSERT INTO BN_FILE_VIDEO (
        FILE_NO
        , UPDATE_DATE
        , DURATION
        <if test="resolution != null and resolution != '' ">, RESOLUTION</if>
        , FRAME_RATE
        <if test="videoCodec != null and videoCodec != '' ">, VIDEO_CODEC</if>
        <if test="audioCodec != null and audioCodec != '' ">, AUDIO_CODEC</if>
        , BITRATE
        <if test="tags != null and tags != '' ">, TAGS</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        , #{duration}
        <if test="resolution != null and resolution != '' ">, #{resolution}</if>
        , #{frameRate}
        <if test="videoCodec != null and videoCodec != '' ">, #{videoCodec}</if>
        <if test="audioCodec != null and audioCodec != '' ">, #{audioCodec}</if>
        , #{bitrate}
        <if test="tags != null and tags != '' ">, #{tags}</if>
    )
</insert>

<select id="selectBnFileVideoByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileVideo">
    SELECT 
        FILE_NO
        , UPDATE_DATE
        , DURATION
        , RESOLUTION
        , FRAME_RATE
        , VIDEO_CODEC
        , AUDIO_CODEC
        , BITRATE
        , TAGS
    FROM 
        BN_FILE_VIDEO
    WHERE 
        FILE_NO = #{fileNo}
</select>

<update id="updateBnFileVideo" parameterType="com.utime.burrowNest.storage.vo.BnFileVideo">
    UPDATE BN_FILE_VIDEO
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , DURATION = #{duration}
        , RESOLUTION = <choose> <when test="resolution != null and resolution != '' ">#{resolution}</when> <otherwise>NULL</otherwise> </choose>
        , FRAME_RATE = #{frameRate}
        , VIDEO_CODEC = <choose> <when test="videoCodec != null and videoCodec != '' ">#{videoCodec}</when> <otherwise>NULL</otherwise> </choose>
        , AUDIO_CODEC = <choose> <when test="audioCodec != null and audioCodec != '' ">#{audioCodec}</when> <otherwise>NULL</otherwise> </choose>
        , BITRATE = #{bitrate}
        , TAGS = <choose> <when test="tags != null and tags != '' ">#{tags}</when> <otherwise>NULL</otherwise> </choose>
    WHERE 
        FILE_NO = #{fileNo}
</update>


<!-- INSERT -->
<insert id="insertBnFileAudio" parameterType="com.utime.burrowNest.storage.vo.BnFileAudio">
    INSERT INTO BN_FILE_AUDIO (
        FILE_NO
        , UPDATE_DATE
        , DURATION
        , AUDIO_FORMAT
        , SAMPLE_RATE
        <if test="channels != null and channels != '' ">, CHANNELS</if>
        , BIT_DEPTH
        <if test="audioCodec != null and audioCodec != '' ">, AUDIO_CODEC</if>
        , BITRATE
        , VOLUME_LEVEL_MIN
        , VOLUME_LEVEL_MAX
        , VOLUME_LEVEL_AVG
        <if test="frequencySpectrum != null and frequencySpectrum != '' ">, FREQUENCY_SPECTRUM</if>
        , RELEASE_YEAR
        <if test="songTitle != null and songTitle != '' ">, SONG_TITLE</if>
        <if test="albumTitle != null and albumTitle != '' ">, ALBUM_TITLE</if>
        <if test="artistName != null and artistName != '' ">, ARTIST_NAME</if>
        <if test="embeddedLyrics != null and embeddedLyrics != '' ">, EMBEDDED_LYRICS</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        , #{duration}
        , #{audioFormat}
        , #{sampleRate}
        <if test="channels != null and channels != '' ">, #{channels}</if>
        , #{bitDepth}
        <if test="audioCodec != null and audioCodec != '' ">, #{audioCodec}</if>
        , #{bitrate}
        , #{volumeLevelMin}
        , #{volumeLevelMax}
        , #{volumeLevelAvg}
        <if test="frequencySpectrum != null and frequencySpectrum != '' ">, #{frequencySpectrum}</if>
        , #{releaseYear}
        <if test="songTitle != null and songTitle != '' ">, #{songTitle}</if>
        <if test="albumTitle != null and albumTitle != '' ">, #{albumTitle}</if>
        <if test="artistName != null and artistName != '' ">, #{artistName}</if>
        <if test="embeddedLyrics != null and embeddedLyrics != '' ">, #{embeddedLyrics}</if>
    )
</insert>

<!-- SELECT -->
<select id="selectBnFileAudioByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileAudio">
    SELECT
        FILE_NO
        , UPDATE_DATE
        , DURATION
        , AUDIO_FORMAT
        , SAMPLE_RATE
        , CHANNELS
        , BIT_DEPTH
        , AUDIO_CODEC
        , BITRATE
        , VOLUME_LEVEL_MIN
        , VOLUME_LEVEL_MAX
        , VOLUME_LEVEL_AVG
        , FREQUENCY_SPECTRUM
        , SONG_TITLE
        , ALBUM_TITLE
        , ARTIST_NAME
        , RELEASE_YEAR
        , EMBEDDED_LYRICS
    FROM BN_FILE_AUDIO
    WHERE FILE_NO = #{fileNo}
</select>

<!-- UPDATE -->
<update id="updateBnFileAudio" parameterType="com.utime.burrowNest.storage.vo.BnFileAudio">
    UPDATE BN_FILE_AUDIO
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , DURATION = #{duration}
        , AUDIO_FORMAT = #{audioFormat}
        , SAMPLE_RATE = #{sampleRate}
        , CHANNELS = <choose> <when test="channels != null and channels != '' ">#{channels}</when> <otherwise>NULL</otherwise> </choose>
        , BIT_DEPTH = #{bitDepth}
        , AUDIO_CODEC = <choose> <when test="audioCodec != null and audioCodec != '' ">#{audioCodec}</when> <otherwise>NULL</otherwise> </choose>
        , BITRATE = #{bitrate}
        , VOLUME_LEVEL_MIN = #{volumeLevelMin}
        , VOLUME_LEVEL_MAX = #{volumeLevelMax}
        , VOLUME_LEVEL_AVG = #{volumeLevelAvg}
        , FREQUENCY_SPECTRUM = <choose> <when test="frequencySpectrum != null and frequencySpectrum != '' ">#{frequencySpectrum}</when> <otherwise>NULL</otherwise> </choose>
        , RELEASE_YEAR = #{releaseYear}
        , SONG_TITLE = <choose> <when test="songTitle != null and songTitle != '' ">#{songTitle}</when> <otherwise>NULL</otherwise> </choose>
        , ALBUM_TITLE = <choose> <when test="albumTitle != null and albumTitle != '' ">#{albumTitle}</when> <otherwise>NULL</otherwise> </choose>
        , ARTIST_NAME = <choose> <when test="artistName != null and artistName != '' ">#{artistName}</when> <otherwise>NULL</otherwise> </choose>
        , EMBEDDED_LYRICS = <choose> <when test="embeddedLyrics != null and embeddedLyrics != '' ">#{embeddedLyrics}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<!-- INSERT -->
<insert id="insertBnFileArchive" parameterType="com.utime.burrowNest.storage.vo.BnFileArchive">
    INSERT INTO BN_FILE_ARCHIVE (
        FILE_NO
        , UPDATE_DATE
        , ARCHIVE_FORMAT
        , TOTAL_ENTRIES
        , UNCOMPRESSED_SIZE
        , COMPRESSION_RATIO
        , ENCRYPTED
        , PASSWORD_PROTECTED
        <if test="comment != null and comment != '' ">, COMMENT</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        , #{archiveFormat}
        , #{totalEntries}
        , #{uncompressedSize}
        , #{compressionRatio}
        , #{encrypted}
        , #{passwordProtected}
        <if test="comment != null and comment != '' ">, #{comment}</if>
    )
</insert>

<!-- SELECT -->
<select id="selectBnFileArchiveByFileNo" resultType="com.utime.burrowNest.storage.vo.BnFileArchive" parameterType="long">
    SELECT
        FILE_NO
        , UPDATE_DATE
        , ARCHIVE_FORMAT
        , TOTAL_ENTRIES
        , UNCOMPRESSED_SIZE
        , COMPRESSION_RATIO
        , ENCRYPTED
        , PASSWORD_PROTECTED
        , COMMENT
    FROM BN_FILE_ARCHIVE
    WHERE FILE_NO = #{fileNo}
</select>

<!-- UPDATE -->
<update id="updateBnFileArchive" parameterType="com.utime.burrowNest.storage.vo.BnFileArchive">
    UPDATE BN_FILE_ARCHIVE
    SET UPDATE_DATE = CURRENT_TIMESTAMP,
        , ARCHIVE_FORMAT = #{archiveFormat, typeHandler=com.utime.burrowNest.storage.typehandler.EArchiveTypeTypeHandler},
        , TOTAL_ENTRIES = #{totalEntries}
        , UNCOMPRESSED_SIZE = #{uncompressedSize}
        , COMPRESSION_RATIO = #{compressionRatio}
        , ENCRYPTED = #{encrypted}
        , PASSWORD_PROTECTED = #{passwordProtected}
        , COMMENT = <choose> <when test="comment != null and comment != '' ">#{comment}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

</mapper>