<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utime.burrowNest.storage.mapper.StorageMapper">

<sql id="BnDirectoryColumn">
	DR.NO
   	, DR.REG_DATE
   	, DR.UPDATE_DATE
   	, DR.ENABLED
   	, DR.UID
   	, DR.PUBLIC_ACCESSIBLE
   	, DR.PARENT_NO
   	, DR.OWNER_NO
   	, DR.CREATION
	, DR.LAST_MODIFIED 
	, DR.NAME
	, DR.ABSOLUTE_PATH
	, FALSE AS IS_FILE
</sql>

<sql id="BnFileColumn">
	FL.NO
   	, FL.REG_DATE
   	, FL.UPDATE_DATE
   	, FL.ENABLED
   	, FL.UID
   	, FL.PARENT_NO
   	, FL.OWNER_NO
   	, FL.FILE_LENGTH
   	, FL.FILE_TYPE
   	, FL.CREATION
   	, FL.LAST_MODIFIED
   	, FL.EXTENSION
   	, FL.NAME
   	, TRUE AS IS_FILE
</sql>

<resultMap id="AbsPathMap" type="com.utime.burrowNest.storage.vo.AbsPath">
	<id column="NO" property="no"/>
	<result column="REG_DATE" property="regDate"/>
	<result column="UPDATE_DATE" property="updateDate"/>
	<result column="ENABLED" property="enabled"/>
	<result column="UID" property="uid"/>
	<result column="PARENT_NO" property="parentNo"/>
	<result column="OWNER_NO" property="ownerNo"/>
	<result column="CREATION" property="creation"/>
	<result column="LAST_MODIFIED" property="lastModified"/>
	<result column="NAME" property="name"/>
	<result column="IS_FILE" property="isFile"/>
	<result column="ACCESS_FLAGS" property="accType" typeHandler="com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler"/>
	<result column="HAS_THUMBNAIL" property="hasThumb"/>
</resultMap>

<resultMap id="BnDirectoryMap" type="com.utime.burrowNest.storage.vo.BnDirectory"
	extends="com.utime.burrowNest.storage.mapper.StorageMapper.AbsPathMap">
	<result column="PUBLIC_ACCESSIBLE" property="publicAccessible"/>
	<result column="ABSOLUTE_PATH" property="absolutePath"/>
	<result column="PARENT_UID" property="parentUid"/>
	<result column="HAS_CHILD" property="hasChild"/>
	<result column="DIRECTORY_PATH" property="directoryPath"/>
	<result column="FULL_NAME" property="fullName"/>
	
<!-- 	
	<association 
			column="{dirNo=PARENT_NO}" 
			property="parentUid" 
			javaType="string"
			select="com.utime.burrowNest.user.mapper.UserMapper.selectDirectoryUidByNo" /> -->
</resultMap>

<resultMap id="BnFileMap" type="com.utime.burrowNest.storage.vo.BnFile"
	extends="com.utime.burrowNest.storage.mapper.StorageMapper.AbsPathMap">
	<result column="FILE_LENGTH" property="fileLength"/>
	<result column="FILE_TYPE" property="fileType"/>
	<result column="FULL_NAME" property="fullName"/>
	<result column="DIRECTORY_PATH" property="directoryPath"/>
	<result column="EXTENSION" property="extension"/>
</resultMap>

<select id="selectDirectoryUidByNo" resultType="String">
	SELECT UID FROM BN_DIRECTORY NO = #{dirNo}
</select>

	
 <!-- Insert: 새 디렉토리 생성 -->
<insert id="insertDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory" 
	useGeneratedKeys="true" keyProperty="no" keyColumn="NO" >
    INSERT INTO BN_DIRECTORY (
    	UPDATE_DATE
    	, ENABLED
    	, PUBLIC_ACCESSIBLE
    	, PARENT_NO
    	, OWNER_NO
    	, CREATION
		, LAST_MODIFIED 
		, NAME
		, ABSOLUTE_PATH	
	) VALUES (
		CURRENT_TIMESTAMP
		, #{enabled}
		, #{publicAccessible}
		, #{parentNo}
		, #{ownerNo}
		, #{creation}
		, #{lastModified}
		, #{name}
		, #{absolutePath}
	)
</insert>

<!-- Update: 디렉토리 정보 수정 -->
<update id="updateDirectory" parameterType="com.utime.burrowNest.storage.vo.BnDirectory">
    UPDATE BN_DIRECTORY
    SET UPDATE_DATE = CURRENT_TIMESTAMP
    	, ENABLED = #{enabled}
    	, PUBLIC_ACCESSIBLE = #{publicAccessible}
    	, PARENT_NO = #{parentNo}
		, LAST_MODIFIED = #{lastModified}
		, NAME = #{name}
		, ABSOLUTE_PATH	= #{absolutePath}
    WHERE NO = #{no}
</update>

<!-- Select: 특정 디렉토리 검색 -->
<select id="selectDirectoryByNo" parameterType="long" resultMap="BnDirectoryMap">
    SELECT 
    	<include refid="BnDirectoryColumn" /> 
    	, P.UID AS PARENT_UID
    FROM BN_DIRECTORY DR
    	INNER JOIN BN_DIRECTORY P ON DR.PARENT_NO = P.NO
    WHERE DR.NO = #{dirNo}
</select>

<!-- Select: Root 디렉토리 검색 -->
<!-- <select id="selectRootDirectory" parameterType="long" resultMap="BnDirectoryMap">
    SELECT 
    	<include refid="BnDirectoryColumn" /> 
    	, NULL AS PARENT_UID
    FROM BN_DIRECTORY DR
    WHERE DR.NO = 1
</select> -->



<!-- Delete: 특정 디렉토리 삭제 -->
<delete id="deleteDirectoryByNo" parameterType="long">
    DELETE FROM BN_DIRECTORY
    WHERE NO = #{dirNo}
</delete>

<!-- Dir 권한 추가하기 -->
<insert id="insertDirectoryAccess" parameterType="map">
	INSERT INTO BN_DIRECTORY_ACCESS (
		DIR_NO 
		, GROUP_NO  
		, ACCESS_FLAGS 
	) VALUES (
		#{dirNo}
		, #{groupNo}
		, #{accType}
	) 
</insert>

<!-- Dir 권한 수정하기 -->
<update id="updateDirectoryAccess" parameterType="map">
	UPDATE BN_DIRECTORY_ACCESS SET
		ACCESS_FLAGS = #{accType}
	WHERE 1=1
		AND DIR_NO = #{dirNo}
		AND GROUP_NO = #{groupNo}
</update>

<!-- 파일 권한 추가하기 -->
<insert id="insertFileAccess" parameterType="map">
	INSERT INTO BN_FILE_ACCESS (
		FILE_NO 
		, GROUP_NO  
		, ACCESS_FLAGS 
	) VALUES (
		#{fileNo}
		, #{groupNo}
		, #{accType}
	) 
</insert>

<!-- 파일 권한 수정하기 -->
<update id="updateFileAccess" parameterType="map">
	UPDATE BN_FILE_ACCESS SET
		ACCESS_FLAGS = #{accType}
	WHERE 1=1
		AND FILE_NO = #{fileNo}
		AND GROUP_NO = #{groupNo}
</update>

<!-- 파일 추가 -->
<insert id="insertFile" 
	parameterType="com.utime.burrowNest.storage.vo.BnFile" 
	useGeneratedKeys="true" keyProperty="no" keyColumn="NO" >	
    INSERT INTO BN_FILE (
    	REG_DATE
    	, UPDATE_DATE
    	, ENABLED
    	, PARENT_NO
    	, OWNER_NO
    	, FILE_LENGTH
    	, FILE_TYPE
    	, CREATION
    	, LAST_MODIFIED
    	<if test="extension != null and extension.trim() != '' ">
    	, EXTENSION
    	</if>
    	, NAME
    ) VALUES (
    	CURRENT_TIMESTAMP
    	, CURRENT_TIMESTAMP
    	, #{enabled}
    	, #{parentNo}
    	, #{ownerNo}
    	, #{fileLength}
    	, #{fileType}
    	, #{creation}
    	, #{lastModified}
    	<if test="extension != null and extension.trim() != '' ">
    	, #{extension}
    	</if>
    	, #{name}
    )
</insert>

<!-- SELECT -->
<select id="selectFileByNo" parameterType="map" resultType="com.utime.burrowNest.storage.vo.BnFile">
    SELECT 
    	<include refid="BnFileColumn" /> 
    FROM BN_FILE FL
    WHERE FL.NO = #{fileNo}
</select>

<!-- SELECT -->
<select id="selectFileByUid" parameterType="map" resultMap="BnFileMap">
    SELECT 
    	<include refid="BnFileColumn" /> 
    	,DR.UID AS PARENT_UID
    	,DR.ABSOLUTE_PATH AS DIRECTORY_PATH
    	,FL.NAME || '.' || FL.EXTENSION AS FULL_NAME
    FROM BN_FILE FL 
    	INNER JOIN BN_DIRECTORY DR ON FL.PARENT_NO = DR.NO
    WHERE FL.UID = #{uid}
</select>

<!-- UPDATE -->
<update id="updateFile" parameterType="com.utime.burrowNest.storage.vo.BnFile">
    UPDATE BN_FILE
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , ENABLED = #{enabled}
        , FILE_LENGTH = #{fileLength}
        , FILE_TYPE = #{fileType}
        , CREATION = #{creation}
        , LAST_MODIFIED = #{lastModified}
        <if test="extension != null and extension.trim() != '' ">
        , EXTENSION = #{extension}
        </if>
        , NAME = #{name}
    WHERE NO = #{no}
</update>

<!-- DELETE -->
<delete id="deleteFileByNo" parameterType="long">
    DELETE FROM BN_FILE
    WHERE NO = #{fileNo}
</delete>

<!-- 확장 정보 유무 -->
<select id="existFileInfo" parameterType="map" resultType="boolean">
	SELECT 
		CASE COUNT(1) 
  			WHEN 1 THEN 1
			ELSE 0
  		END AS RES
  	FROM ${tableName}
  	WHERE FILE_NO = #{fileNo}
</select>

<!-- INSERT -->
<insert id="insertFileDocument" parameterType="com.utime.burrowNest.storage.vo.BnFileDocument">
    INSERT INTO BN_FILE_DOCUMENT (
    	FILE_NO
    	, UPDATE_DATE
    	<if test="title != null and title.trim() != '' ">, TITLE</if>
		<if test="subject != null and subject.trim() != '' ">, SUBJECT</if>
		<if test="creator != null and creator.trim() != '' ">, CREATOR</if>
		<if test="lastModifiedBy != null and lastModifiedBy.trim() != '' ">, LAST_MODIFIED_BY</if>
		<if test="createDate != null ">, CREATE_DATE</if>
		<if test="modifyDate != null ">, MODIFY_DATE</if>
		<if test="keywords != null and keywords.trim() != '' ">, KEYWORDS</if>
		<if test="description != null and description.trim() != '' ">, DESCRIPTION</if>
		<if test="headingPairs != null and headingPairs.trim() != '' ">, HEADING_PAIRS</if>
		<if test="company != null and company.trim() != '' ">, COMPANY</if>
    ) VALUES (
    	#{fileNo}
    	, CURRENT_TIMESTAMP
    	<if test="title != null and title.trim() != '' ">, #{title}</if>
		<if test="subject != null and subject.trim() != '' ">, #{subject}</if>
		<if test="creator != null and creator.trim() != '' ">, #{creator}</if>
		<if test="lastModifiedBy != null and lastModifiedBy.trim() != '' ">, #{lastModifiedBy}</if>
		<if test="createDate != null ">, #{createDate}</if>
		<if test="modifyDate != null ">, #{modifyDate}</if>
		<if test="keywords != null and keywords.trim() != '' ">, #{keywords}</if>
		<if test="description != null and description.trim() != '' ">, #{description}</if>
		<if test="headingPairs != null and headingPairs.trim() != '' ">, #{headingPairs}</if>
		<if test="company != null and company.trim() != '' ">, #{company}</if>
    )
</insert>

<!-- SELECT -->
<select id="selectFileDocumentByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileDocument">
    SELECT 
    	FILE_NO 
    	, UPDATE_DATE
    	, TITLE
		, SUBJECT
		, CREATOR
		, LAST_MODIFIED_BY
		, CREATE_DATE
		, MODIFY_DATE
		, KEYWORDS
		, DESCRIPTION
		, HEADING_PAIRS
		, COMPANY
    FROM BN_FILE_DOCUMENT
    WHERE FILE_NO = #{fileNo};
</select>

<!-- UPDATE -->
<update id="updateFileDocument" parameterType="com.utime.burrowNest.storage.vo.BnFileDocument">
    UPDATE BN_FILE_DOCUMENT
    SET UPDATE_DATE = CURRENT_TIMESTAMP
    	, TITLE = <choose> <when test="title != null and title.trim() != '' ">#{title}</when> <otherwise>NULL</otherwise> </choose>
		, SUBJECT = <choose> <when test="subject != null and subject.trim() != '' ">#{subject}</when> <otherwise>NULL</otherwise> </choose>
		, CREATOR = <choose> <when test="creator != null and creator.trim() != '' ">#{creator}</when> <otherwise>NULL</otherwise> </choose>
		, LAST_MODIFIED_BY = <choose> <when test="lastModifiedBy != null and lastModifiedBy.trim() != '' ">#{lastModifiedBy}</when> <otherwise>NULL</otherwise> </choose>
		, CREATE_DATE = <choose> <when test="createDate != null ">#{createDate}</when> <otherwise>NULL</otherwise> </choose>
		, MODIFY_DATE = <choose> <when test="modifyDate != null ">#{modifyDate}</when> <otherwise>NULL</otherwise> </choose>
		, KEYWORDS = <choose> <when test="keywords != null and keywords.trim() != '' ">#{keywords}</when> <otherwise>NULL</otherwise> </choose>
		, DESCRIPTION = <choose> <when test="description != null and description.trim() != '' ">#{description}</when> <otherwise>NULL</otherwise> </choose>
		, HEADING_PAIRS = <choose> <when test="headingPairs != null and headingPairs.trim() != '' ">#{headingPairs}</when> <otherwise>NULL</otherwise> </choose>
		, COMPANY = <choose> <when test="company != null and company.trim() != '' ">#{company}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<insert id="insertFileImage" parameterType="com.utime.burrowNest.storage.vo.BnFileImage">
    INSERT INTO BN_FILE_IMAGE (
        FILE_NO
        , UPDATE_DATE
        <if test="make != null and make.trim() != '' ">, MAKE</if>
		<if test="cameraModelName != null and cameraModelName.trim() != '' ">, CAMERA_MODEL_NAME</if> 
		<if test="orientation != null and orientation.trim() != '' ">, ORIENTATION</if>
		, F_NUMBER
		<if test="exposureTime != null and exposureTime.trim() != '' ">, EXPOSURE_TIME</if>
		<if test="sensingMethod != null and sensingMethod.trim() != '' ">, SENSING_METHOD</if>
		<if test="flash != null and flash.trim() != '' ">, FLASH</if>
		<if test="lightSource != null and lightSource.trim() != '' ">, LIGHT_SOURCE</if> 
		<if test="whiteBalance != null and whiteBalance.trim() != '' ">, WHITE_BALANCE</if>
		<if test="shutterSpeed != null and shutterSpeed.trim() != '' ">, SHUTTER_SPEED</if>
		, ISO 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT
		<if test="createDate != null">, CREATE_DATE</if>
		<if test="modifyDate != null">, MODIFY_DATE</if>
		, GPS_LATITUDE
		, GPS_LONGITUDE
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="make != null and make.trim() != '' ">, #{make}</if>
		<if test="cameraModelName != null and cameraModelName.trim() != '' ">, #{cameraModelName}</if> 
		<if test="orientation != null and orientation.trim() != '' ">, #{orientation}</if>
		, #{fNumber}
		<if test="exposureTime != null and exposureTime.trim() != '' ">, #{exposureTime}</if>
		<if test="sensingMethod != null and sensingMethod.trim() != '' ">, #{sensingMethod}</if>
		<if test="flash != null and flash.trim() != '' ">, #{flash}</if>
		<if test="lightSource != null and lightSource.trim() != '' ">, #{lightSource}</if> 
		<if test="whiteBalance != null and whiteBalance.trim() != '' ">, #{whiteBalance}</if>
		<if test="shutterSpeed != null and shutterSpeed.trim() != '' ">, #{shutterSpeed}</if>
		, #{iso} 
		, #{imageWidth} 
		, #{imageHeight}
		<if test="createDate != null">, #{createDate}</if>
		<if test="modifyDate != null">, #{modifyDate}</if>
		, #{gpsLatitude}
		, #{gpsLongitude}
    )
</insert>

<update id="updateFileImage" parameterType="com.utime.burrowNest.storage.vo.BnFileImage">
    UPDATE BN_FILE_IMAGE
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , MAKE = <choose> <when test="make != null and make.trim() != '' ">#{make}</when> <otherwise>NULL</otherwise> </choose>
		, CAMERA_MODEL_NAME = <choose> <when test="cameraModelName != null and cameraModelName.trim() != '' ">#{cameraModelName}</when> <otherwise>NULL</otherwise> </choose>
		, ORIENTATION  = <choose> <when test="orientation != null and orientation.trim() != '' ">#{orientation}</when> <otherwise>NULL</otherwise> </choose>
		, F_NUMBER = #{fNumber}
		, EXPOSURE_TIME = <choose> <when test="exposureTime != null and exposureTime.trim() != '' ">#{exposureTime}</when> <otherwise>NULL</otherwise> </choose> 
		, SENSING_METHOD  = <choose> <when test="sensingMethod != null and sensingMethod.trim() != '' ">#{sensingMethod}</when> <otherwise>NULL</otherwise> </choose>
		, FLASH  = <choose> <when test="flash != null and flash.trim() != '' ">#{flash}</when> <otherwise>NULL</otherwise> </choose>
		, LIGHT_SOURCE  = <choose> <when test="lightSource != null and lightSource.trim() != '' ">#{lightSource}</when> <otherwise>NULL</otherwise> </choose>
		, WHITE_BALANCE = <choose> <when test="whiteBalance != null and whiteBalance.trim() != '' ">#{whiteBalance}</when> <otherwise>NULL</otherwise> </choose>
		, SHUTTER_SPEED  = <choose> <when test="shutterSpeed != null and shutterSpeed.trim() != '' ">#{shutterSpeed}</when> <otherwise>NULL</otherwise> </choose>
		, ISO = #{iso}
		, IMAGE_WIDTH = #{imageWidth} 
		, IMAGE_HEIGHT = #{imageHeight}
		, CREATE_DATE = <choose> <when test="createDate != null ">#{createDate}</when> <otherwise>NULL</otherwise> </choose> 
		, MODIFY_DATE = <choose> <when test="modifyDate != null ">#{modifyDate}</when> <otherwise>NULL</otherwise> </choose>
		, GPS_LATITUDE = #{gpsLatitude}
		, GPS_LONGITUDE = #{gpsLongitude}
    WHERE FILE_NO = #{fileNo}
</update>

<select id="selectFileImageByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileImage">
    SELECT 
    	FILE_NO
    	, UPDATE_DATE
        , MAKE
		, CAMERA_MODEL_NAME 
		, ORIENTATION 
		, F_NUMBER 
		, EXPOSURE_TIME 
		, SENSING_METHOD 
		, FLASH 
		, LIGHT_SOURCE 
		, WHITE_BALANCE
		, SHUTTER_SPEED 
		, ISO 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT
		, CREATE_DATE
		, MODIFY_DATE
		, GPS_LATITUDE
		, GPS_LONGITUDE
    FROM BN_FILE_IMAGE
    WHERE FILE_NO = #{fileNo}
</select>

<insert id="insertFileVideo" parameterType="com.utime.burrowNest.storage.vo.BnFileVideo">
    INSERT INTO BN_FILE_VIDEO (
        FILE_NO
        , UPDATE_DATE
        <if test="mimeType != null and mimeType.trim() != '' ">, MIME_TYPE</if>
		<if test="author != null and author.trim() != '' ">, AUTHOR</if>
		<if test="duration != null and duration.trim() != '' ">, DURATION</if>
		, PREFERRED_RATE 
		<if test="preferredVolume != null and preferredVolume.trim() != '' ">, PREFERRED_VOLUME</if>
		<if test="audioFormat != null and audioFormat.trim() != '' ">, AUDIO_FORMAT</if>
		, AUDIO_BITS_PER_SAMPLE 
		, AUDIO_SAMPLE_RATE 
		<if test="layoutFlags != null and layoutFlags.trim() != '' ">, LAYOUT_FLAGS</if>
		, AUDIO_CHANNELS
		<if test="compressorVersion != null and compressorVersion.trim() != '' ">, COMPRESSOR_VERSION</if>
		<if test="cameraModelName != null and cameraModelName.trim() != '' ">, CAMERA_MODEL_NAME</if>
		<if test="firmwareVersion != null and firmwareVersion.trim() != '' ">, FIRMWARE_VERSION</if>
		<if test="avgBitrate != null and avgBitrate.trim() != '' ">, AVG_BITRATE</if>
		, ROTATION 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT 
		<if test="createDate != null ">, CREATE_DATE</if>
		<if test="modifyDate != null ">, MODIFY_DATE</if>
		, GPS_LATITUDE 
		, GPS_LONGITUDE 
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="mimeType != null and mimeType.trim() != '' ">, #{mimeType}</if>
		<if test="author != null and author.trim() != '' ">, #{author}</if>
		<if test="duration != null and duration.trim() != '' ">, #{duration}</if>
		, #{preferredRate} 
		<if test="preferredVolume != null and preferredVolume.trim() != '' ">, #{preferredVolume}</if>
		<if test="audioFormat != null and audioFormat.trim() != '' ">, #{audioFormat}</if>
		, #{audioBitsPerSample} 
		, #{audioSampleRate} 
		<if test="layoutFlags != null and layoutFlags.trim() != '' ">, #{layoutFlags}</if>
		, #{audioChannels}
		<if test="compressorVersion != null and compressorVersion.trim() != '' ">, #{compressorVersion}</if>
		<if test="cameraModelName != null and cameraModelName.trim() != '' ">, #{cameraModelName}</if>
		<if test="firmwareVersion != null and firmwareVersion.trim() != '' ">, #{firmwareVersion}</if>
		<if test="avgBitrate != null and avgBitrate.trim() != '' ">, #{avgBitrate}</if>
		, #{rotation} 
		, #{imageWidth} 
		, #{imageHeight} 
		<if test="createDate != null ">, #{createDate}</if>
		<if test="modifyDate != null ">, #{modifyDate}</if>
		, #{gpsLatitude} 
		, #{gpsLongitude} 
    )
</insert>

<update id="updateFileVideo" parameterType="com.utime.burrowNest.storage.vo.BnFileVideo">
    UPDATE BN_FILE_VIDEO
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , MIME_TYPE = <choose> <when test="mimeType != null and mimeType.trim() != '' ">#{mimeType}</when> <otherwise>NULL</otherwise> </choose>
		, AUTHOR = <choose> <when test="author != null and author.trim() != '' ">#{author}</when> <otherwise>NULL</otherwise> </choose>
		, DURATION = <choose> <when test="duration != null and duration.trim() != '' ">#{duration}</when> <otherwise>NULL</otherwise> </choose>
		, PREFERRED_RATE = #{preferredRate}
		, PREFERRED_VOLUME = <choose> <when test="preferredVolume != null and preferredVolume.trim() != '' ">#{preferredVolume}</when> <otherwise>NULL</otherwise> </choose>
		, AUDIO_FORMAT = <choose> <when test="audioFormat != null and audioFormat.trim() != '' ">#{audioFormat}</when> <otherwise>NULL</otherwise> </choose>
		, AUDIO_BITS_PER_SAMPLE = #{audioBitsPerSample}
		, AUDIO_SAMPLE_RATE = #{audioSampleRate}   
		, LAYOUT_FLAGS = <choose> <when test="layoutFlags != null and layoutFlags.trim() != '' ">#{layoutFlags}</when> <otherwise>NULL</otherwise> </choose>
		, AUDIO_CHANNELS = #{audioChannels}
		, COMPRESSOR_VERSION = <choose> <when test="compressorVersion != null and compressorVersion.trim() != '' ">#{compressorVersion}</when> <otherwise>NULL</otherwise> </choose> 
		, CAMERA_MODEL_NAME = <choose> <when test="cameraModelName != null and cameraModelName.trim() != '' ">#{cameraModelName}</when> <otherwise>NULL</otherwise> </choose>
		, FIRMWARE_VERSION = <choose> <when test="firmwareVersion != null and firmwareVersion.trim() != '' ">#{firmwareVersion}</when> <otherwise>NULL</otherwise> </choose>
		, AVG_BITRATE = <choose> <when test="avgBitrate != null and avgBitrate.trim() != '' ">#{avgBitrate}</when> <otherwise>NULL</otherwise> </choose>
		, ROTATION = #{rotation}   
		, IMAGE_WIDTH = #{imageWidth} 
		, IMAGE_HEIGHT = #{imageHeight}
		, CREATE_DATE = <choose> <when test="createDate != null ">#{createDate}</when> <otherwise>NULL</otherwise> </choose> 
		, MODIFY_DATE = <choose> <when test="modifyDate != null ">#{modifyDate}</when> <otherwise>NULL</otherwise> </choose> 
		, GPS_LATITUDE = #{gpsLatitude} 
		, GPS_LONGITUDE = #{gpsLongitude}
    WHERE 
        FILE_NO = #{fileNo}
</update>

<select id="selectFileVideoByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileVideo">
    SELECT 
        FILE_NO
        , UPDATE_DATE
        , MIME_TYPE
		, AUTHOR 
		, DURATION
		, PREFERRED_RATE 
		, PREFERRED_VOLUME 
		, AUDIO_FORMAT 
		, AUDIO_BITS_PER_SAMPLE 
		, AUDIO_SAMPLE_RATE 
		, LAYOUT_FLAGS 
		, AUDIO_CHANNELS
		, COMPRESSOR_VERSION 
		, CAMERA_MODEL_NAME 
		, FIRMWARE_VERSION 
		, AVG_BITRATE 
		, ROTATION 
		, IMAGE_WIDTH 
		, IMAGE_HEIGHT 
		, CREATE_DATE 
		, MODIFY_DATE 
		, GPS_LATITUDE 
		, GPS_LONGITUDE 
    FROM 
        BN_FILE_VIDEO
    WHERE 
        FILE_NO = #{fileNo}
</select>

<!-- INSERT -->
<insert id="insertFileAudio" parameterType="com.utime.burrowNest.storage.vo.BnFileAudio">
    INSERT INTO BN_FILE_AUDIO (
        FILE_NO
        , UPDATE_DATE
        <if test="mimeType != null and mimeType.trim() != '' ">, MIME_TYPE</if>
		, SAMPLE_RATE  
		, CHANNELS
		, BITS_PER_SAMPLE
		, TOTAL_SAMPLES
		<if test="title != null and title.trim() != '' ">, TITLE</if>
		<if test="artist != null and artist.trim() != '' ">, ARTIST</if>
		<if test="album != null and album.trim() != '' ">, ALBUM</if>
		<if test="genre != null and genre.trim() != '' ">, GENRE</if>
		<if test="albumArtist != null and albumArtist.trim() != '' ">, ALBUM_ARTIST</if>
		, DISCNUMBER
		<if test="albumDate != null and albumDate.trim() != '' ">, ALBUM_DATE</if>
		<if test="organization != null and organization.trim() != '' ">, ORGANIZATION</if>
		, TRACK_NUMBER
		<if test="duration != null and duration.trim() != '' ">, DURATION</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        <if test="mimeType != null and mimeType.trim() != '' ">, #{mimeType}</if>
		, #{sampleRate}
		, #{channels}
		, #{bitsPerSample}
		, #{totalSamples}
		<if test="title != null and title.trim() != '' ">, #{title}</if>
		<if test="artist != null and artist.trim() != '' ">, #{artist}</if>
		<if test="album != null and album.trim() != '' ">, #{album}</if>
		<if test="genre != null and genre.trim() != '' ">, #{genre}</if>
		<if test="albumArtist != null and albumArtist.trim() != '' ">, #{albumArtist}</if>
		, #{discNumber}  
		<if test="albumDate != null and albumDate.trim() != '' ">, #{albumDate}</if>
		<if test="organization != null and organization.trim() != '' ">, #{organization}</if>
		, #{trackNumber}
		<if test="duration != null and duration.trim() != '' ">, #{duration}</if>
    )
</insert>

<!-- UPDATE -->
<update id="updateFileAudio" parameterType="com.utime.burrowNest.storage.vo.BnFileAudio">
    UPDATE BN_FILE_AUDIO
    SET UPDATE_DATE = CURRENT_TIMESTAMP
        , MIME_TYPE = <choose> <when test="mimeType != null and mimeType.trim() != '' ">#{mimeType}</when> <otherwise>NULL</otherwise> </choose>
		, SAMPLE_RATE = #{sampleRate}
		, CHANNELS = #{channels}
		, BITS_PER_SAMPLE = #{bitsPerSample}
		, TOTAL_SAMPLES = #{totalSamples}
		, TITLE = <choose> <when test="title != null and title.trim() != '' ">#{title}</when> <otherwise>NULL</otherwise> </choose>
		, ARTIST = <choose> <when test="artist != null and artist.trim() != '' ">#{artist}</when> <otherwise>NULL</otherwise> </choose>
		, ALBUM = <choose> <when test="album != null and album.trim() != '' ">#{album}</when> <otherwise>NULL</otherwise> </choose>
		, GENRE = <choose> <when test="genre != null and genre.trim() != '' ">#{genre}</when> <otherwise>NULL</otherwise> </choose>
		, ALBUM_ARTIST = <choose> <when test="albumArtist != null and albumArtist.trim() != '' ">#{albumArtist}</when> <otherwise>NULL</otherwise> </choose>
		, DISCNUMBER = #{discNumber}
		, ALBUM_DATE = <choose> <when test="albumDate != null and albumDate.trim() != '' ">#{albumDate}</when> <otherwise>NULL</otherwise> </choose>
		, ORGANIZATION = <choose> <when test="organization != null and organization.trim() != '' ">#{organization}</when> <otherwise>NULL</otherwise> </choose>
		, TRACK_NUMBER = #{trackNumber}
		, DURATION = <choose> <when test="duration != null and duration.trim() != '' ">#{duration}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<!-- SELECT -->
<select id="selectFileAudioByFileNo" parameterType="long" resultType="com.utime.burrowNest.storage.vo.BnFileAudio">
    SELECT
        FILE_NO
        , UPDATE_DATE
        , MIME_TYPE
		, SAMPLE_RATE  
		, CHANNELS
		, BITS_PER_SAMPLE
		, TOTAL_SAMPLES
		, TITLE
		, ARTIST
		, ALBUM
		, GENRE
		, ALBUM_ARTIST
		, DISCNUMBER
		, ALBUM_DATE
		, ORGANIZATION
		, TRACK_NUMBER
		, DURATION
    FROM BN_FILE_AUDIO
    WHERE FILE_NO = #{fileNo}
</select>

<!-- INSERT -->
<insert id="insertFileArchive" parameterType="com.utime.burrowNest.storage.vo.BnFileArchive">
    INSERT INTO BN_FILE_ARCHIVE (
        FILE_NO
        , UPDATE_DATE
        , ARCHIVE_FORMAT
        , TOTAL_ENTRIES
        , UNCOMPRESSED_SIZE
        , COMPRESSION_RATIO
        , ENCRYPTED
        , PASSWORD_PROTECTED
        <if test="comment != null and comment.trim() != '' ">, COMMENT</if>
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        , #{archiveFormat}
        , #{totalEntries}
        , #{uncompressedSize}
        , #{compressionRatio}
        , #{encrypted}
        , #{passwordProtected}
        <if test="comment != null and comment.trim() != '' ">, #{comment}</if>
    )
</insert>

<!-- SELECT -->
<select id="selectFileArchiveByFileNo" resultType="com.utime.burrowNest.storage.vo.BnFileArchive" parameterType="long">
    SELECT
        FILE_NO
        , UPDATE_DATE
        , ARCHIVE_FORMAT
        , TOTAL_ENTRIES
        , UNCOMPRESSED_SIZE
        , COMPRESSION_RATIO
        , ENCRYPTED
        , PASSWORD_PROTECTED
        , COMMENT
    FROM BN_FILE_ARCHIVE
    WHERE FILE_NO = #{fileNo}
</select>

<!-- UPDATE -->
<update id="updateFileArchive" parameterType="com.utime.burrowNest.storage.vo.BnFileArchive">
    UPDATE BN_FILE_ARCHIVE
    SET UPDATE_DATE = CURRENT_TIMESTAMP,
        , ARCHIVE_FORMAT = #{archiveFormat, typeHandler=com.utime.burrowNest.storage.typehandler.EArchiveTypeTypeHandler},
        , TOTAL_ENTRIES = #{totalEntries}
        , UNCOMPRESSED_SIZE = #{uncompressedSize}
        , COMPRESSION_RATIO = #{compressionRatio}
        , ENCRYPTED = #{encrypted}
        , PASSWORD_PROTECTED = #{passwordProtected}
        , COMMENT = <choose> <when test="comment != null and comment.trim() != '' ">#{comment}</when> <otherwise>NULL</otherwise> </choose>
    WHERE FILE_NO = #{fileNo}
</update>

<!-- INSERT -->
<insert id="insertThumbnail" parameterType="map">
   INSERT INTO BN_FILE_THUMBNAIL (
        FILE_NO
        , UPDATE_DATE
        , THUMBNAIL
    ) VALUES (
        #{fileNo}
        , CURRENT_TIMESTAMP
        , #{thumbnail, jdbcType=VARBINARY}
    )
</insert>

<!-- UPDATE -->
<update id="updateThumbnail" parameterType="map">
    UPDATE BN_FILE_THUMBNAIL SET
        UPDATE_DATE = CURRENT_TIMESTAMP
        , THUMBNAIL = #{thumbnail, jdbcType=VARBINARY}
    WHERE FILE_NO = #{fileNo}
</update>

<!-- SELECT -->
<select id="selectThumbnail" parameterType="map" resultMap="com.utime.burrowNest.common.mapper.CommonMapper.BinResultVoMap">
    SELECT
        THUMBNAIL AS BIN_DATA
    FROM BN_FILE_THUMBNAIL THM
    	INNER JOIN BN_FILE F ON THM.FILE_NO = F.NO 
    WHERE F.UID = #{fid}
</select>

<!-- 루트 directory 조회 -->
<!-- <select id="selectUnIncludeRootDirectories" parameterType="map" resultMap="BnDirectoryMap">
	SELECT
	    d.NO
	    , d.PARENT_NO
	    , CAST(d.UID AS VARCHAR) AS UID
	    , d.NAME
	    , d.ABSOLUTE_PATH 
	    , EXISTS (SELECT 1 FROM BN_DIRECTORY c WHERE c.PARENT_NO = d.NO) AS HAS_CHILD
	FROM BN_DIRECTORY d
	WHERE 1=1
		AND d.PARENT_NO = 1
	AND NOT EXISTS (
	    SELECT 1
	    FROM BN_DIRECTORY_ACCESS da
	    WHERE da.DIR_NO   = d.NO
	      AND da.GROUP_NO = #{groupNo}
	)
	ORDER BY d.NAME
</select> -->


<!-- 루트 directory 조회 -->
<select id="selectRootDirectories" parameterType="map" resultMap="BnDirectoryMap">
	SELECT
	    d.NO
	    , d.PARENT_NO
	    , CAST(d.UID AS VARCHAR) AS UID
	    , d.NAME
	    , d.ABSOLUTE_PATH
	    , EXISTS (SELECT 1 FROM BN_DIRECTORY c WHERE c.PARENT_NO = d.NO) AS HAS_CHILD
	FROM BN_DIRECTORY d
	WHERE 1=1
		AND d.PARENT_NO = 1
	AND EXISTS (
	    SELECT 1
	    FROM BN_DIRECTORY_ACCESS da
	    WHERE da.DIR_NO   = d.NO
	      AND da.GROUP_NO = #{groupNo}
	)
	ORDER BY d.NAME
</select>
<!-- LIMIT 1 OFFSET 0 -->

<!-- dir 조회 -->
<select id="selectDirectoryByGuid" parameterType="map" resultMap="BnDirectoryMap">
	SELECT 
		<include refid="BnDirectoryColumn" />
		, DA.ACCESS_FLAGS
	FROM BN_DIRECTORY DR
	    INNER JOIN BN_DIRECTORY_ACCESS DA ON DR.NO = DA.DIR_NO
    WHERE 1=1
    	AND DR.ENABLED = TRUE 
    	AND DA.GROUP_NO = #{group.groupNo}
    	AND DR.UID = #{uid}
    	<if test="group.role.name() != 'Admin' ">
    	AND BITAND( #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler}, DA.ACCESS_FLAGS ) = ${@com.utime.burrowNest.storage.vo.EAccessType@Read.getBit()}
    	</if>
    ORDER BY DR.NAME
</select>

<!-- directory 속한 파일 -->
<select id="selectFiles" parameterType="map" resultMap="BnFileMap">
	SELECT
		<include refid="BnFileColumn"/>
	FROM BN_FILE FL
    WHERE 1=1
    	AND FL.PARENT_NO = #{dirNo}
<!--
     	<if test="group.role.name() != 'Admin' ">
    	AND FL.ENABLED = TRUE 
    	AND BITAND( FA.ACCESS_FLAGS, #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler} ) = ${@com.utime.burrowNest.storage.vo.EAccessType@Read.getBit()}
    	</if>
 -->
     ORDER BY FL.NAME	
</select>

<!-- dir의 Directory 목록 -->
<select id="selectDirectories" parameterType="map" resultMap="BnDirectoryMap">
	SELECT 
		<include refid="BnDirectoryColumn" />
		, DA.ACCESS_FLAGS
	FROM BN_DIRECTORY DR
	    INNER JOIN BN_DIRECTORY_ACCESS DA ON DR.NO = DA.DIR_NO
    WHERE 1=1
    	AND DR.NO != #{parentNo}
    	AND DA.GROUP_NO = #{group.groupNo}
    	AND DR.PARENT_NO = #{parentNo}
    	<if test="group.role.name() != 'Admin' ">
    	AND DR.ENABLED = TRUE 
    	AND BITAND( DA.ACCESS_FLAGS, #{group.accType, typeHandler=com.utime.burrowNest.storage.typeHandler.EAccessTypeTypeHandler} ) = ${@com.utime.burrowNest.storage.vo.EAccessType@Read.getBit()}
    	</if>
    ORDER BY DR.NAME	
</select> 

<!-- Directory의 경로 목록 조회 -->
<!-- <select id="selectPaths" parameterType="map" resultType="String">
	WITH RECURSIVE PATH_TO_ROOT(NO, PARENT_NO, NAME, LEVEL) AS (
	    SELECT 
	    	NO, PARENT_NO, NAME, 0 AS LEVEL
	    FROM BN_DIRECTORY
	    WHERE NO = #{dirNo}
	
	    UNION ALL
	
	    SELECT 
	    	D.NO, D.PARENT_NO, D.NAME, LEVEL + 1
	    FROM BN_DIRECTORY D
	    	JOIN PATH_TO_ROOT P 
	    		ON D.NO = P.PARENT_NO
	    WHERE D.NO != P.NO 
	)
	SELECT 
		NAME
	FROM PATH_TO_ROOT
	ORDER BY LEVEL DESC
</select> -->

<!-- parentNo 기준 조회 -->
<!-- <select id="selectBnDirectoryParentNo" parameterType="map" resultMap="BnDirectoryMap">
	SELECT 
    	<include refid="BnDirectoryColumn" />
    	, P.UID AS PARENT_UID
    FROM BN_DIRECTORY DR
    	INNER JOIN BN_DIRECTORY P ON DR.PARENT_NO = P.NO
    WHERE DR.PARENT_NO = #{parentNo}
    ORDER BY NO
</select> -->

<!-- <select id="getGroupStorageList" parameterType="map" resultMap="BnDirectoryMap">
	SELECT
	    d.NO
	    , d.PARENT_NO
	    , CAST(d.UID AS VARCHAR) AS UID
	    , d.NAME
	    , EXISTS (SELECT 1 FROM BN_DIRECTORY c WHERE c.PARENT_NO = d.NO) AS HAS_CHILD
	FROM BN_DIRECTORY d
	WHERE 1=1
		AND d.PARENT_NO = #{dirNo}
	AND NOT EXISTS (
	    SELECT 1
	    FROM BN_DIRECTORY_ACCESS da
	    WHERE da.DIR_NO   = d.NO
	      AND da.GROUP_NO = #{groupNo}
	)
	ORDER BY d.NAME
</select> -->

<select id="getGroupStorageListUid" parameterType="map" resultMap="BnDirectoryMap">
	SELECT
	    d.NO
	    , d.PARENT_NO
	    , CAST(d.UID AS VARCHAR) AS UID
	    , d.NAME
	    , d.ABSOLUTE_PATH 
	    , EXISTS (SELECT 1 FROM BN_DIRECTORY c WHERE c.PARENT_NO = d.NO) AS HAS_CHILD
	FROM BN_DIRECTORY d
		INNER JOIN BN_DIRECTORY p ON d.PARENT_NO = p.NO
	WHERE 1=1
		AND p.UID = #{parentUid}
	ORDER BY d.NAME
</select>


<!--그룹 저장소 삭제-->
<!-- <delete id="removeGroupStorage">
	DELETE FROM BN_DIRECTORY_ACCESS 
	WHERE 1=1
		AND DIR_NO = #{dirNo}
		AND GROUP_NO = #{groupNo}
</delete> -->

<!--groupNo, directoryUid 로 파일 목록 조회-->
<select id="selectFilesByParentUid" resultMap="BnFileMap">
    SELECT
        <include refid="BnFileColumn"/>
        , DR.ABSOLUTE_PATH AS DIRECTORY_PATH
        , FL.NAME || CASE WHEN FL.EXTENSION IS NOT NULL THEN '.' || FL.EXTENSION ELSE '' END AS FULL_NAME
        , CASE WHEN THM.FILE_NO IS NOT NULL THEN TRUE ELSE FALSE END AS HAS_THUMBNAIL
    FROM BN_FILE FL 
    	INNER JOIN BN_DIRECTORY DR ON FL.PARENT_NO = DR.NO
    	LEFT OUTER JOIN BN_FILE_THUMBNAIL THM ON FL.NO = THM.FILE_NO
    WHERE 1=1
   		AND DR.UID = #{dirUid}
   	    AND FL.ENABLED = TRUE
   	ORDER BY FL.NAME
</select>
	 
 <!--groupNo, directoryUid 로 Directory 목록 조회-->
 <select id="selectDirectoriesByParentUid" resultMap="BnDirectoryMap">
    SELECT
    	<include refid="BnDirectoryColumn" />
    FROM BN_DIRECTORY DR
    	INNER JOIN BN_DIRECTORY PR ON DR.PARENT_NO = PR.NO
    WHERE 1=1
		AND PR.UID = #{uid}
    	AND DR.ENABLED = TRUE
    ORDER BY DR.NAME
 </select>
 
 
 <!--최상위 Root부터 uid 폴더까지 조회-->
 <select id="selectParentDirectoryListByUid" resultMap="BnDirectoryMap">
     
     WITH RECURSIVE DIR_PATH ( NO, PARENT_NO, UID, NAME, LVL ) AS (
		<!--1) target 폴더를 시작점으로-->
		SELECT
			d.NO,
			d.PARENT_NO,
			d.UID,
			d.NAME,
			1 AS LVL
		FROM BN_DIRECTORY d
		WHERE d.UID = #{uid}
		
		UNION ALL
		
    	<!-- 2) 부모를 계속 연결하여 위로 올라감-->
    	SELECT
    		p.NO,
    		p.PARENT_NO,
    		p.UID,
    		p.NAME,
    		dp.LVL + 1 AS LVL
    	FROM BN_DIRECTORY p
    		JOIN DIR_PATH dp ON dp.PARENT_NO = p.NO
    	WHERE p.NO != dp.NO
    )
    SELECT *
    	FROM DIR_PATH
    ORDER BY LVL DESC
 </select>
 
</mapper>