<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>🐇 BurrowNest 설치 마법사</title>
    
    <link rel="stylesheet" th:href="@{/css/tailwind/tailwind.min.css}">
    <th:block th:replace="~{Common/Favicon :: Favicon}"></th:block>

    <!-- <script type="text/javascript" th:src="@{/js/tailwind/tailwind.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/js/jsencrypt/jsencrypt.min.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/websocket/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/websocket/stomp.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/websocket/BurrowSocket.js}"></script>
    
    <script>
        function showPage(id) {
            const pages = document.querySelectorAll('.intro-page');
            pages.forEach(page => page.classList.add('hidden'));
            document.getElementById(id).classList.remove('hidden');
        }

        function nextPage(current, next) {
            document.getElementById(current).classList.add('hidden');
            document.getElementById(next).classList.remove('hidden');
        }

        function prevPage(current, prev) {
            document.getElementById(current).classList.add('hidden');
            document.getElementById(prev).classList.remove('hidden');
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            showPage('PageIntroduce');
            
            buttonStatus( 'agreeCheckBtn', false);
            buttonStatus( 'pwNextBtn', false);
            buttonStatus( 'selectNextBtn', false);
        });
    </script>
    
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="min-h-screen flex items-center justify-center">
        <div class="w-full max-w-2xl p-6 bg-white rounded-2xl shadow-xl max-h-[650px] overflow-auto">
        	<form name="initForm">
	            <div id="PageIntroduce" class="intro-page hidden" th:insert="~{Intro/PageIntroduce :: content}"></div>
	            <div id="PageAgree" class="intro-page hidden" th:insert="~{Intro/PageAgree :: content}"></div>
 	            <div id="PagePasswd" class="intro-page hidden" th:insert="~{Intro/PagePasswd :: content}"></div>
	            <div id="PageStorageLib" class="intro-page hidden" th:insert="~{Intro/PageStorageLib:: content}"></div>
	            <!-- <div id="PageStorageSelect" class="intro-page hidden" th:insert="~{Intro/PageStorageSelect :: content}"></div>
	            <div id="PageStorageLoad" class="intro-page hidden" th:insert="~{Intro/PageStorageLoad :: content}"></div> -->
	            <div id="PageComplete" class="intro-page hidden" th:insert="~{Intro/PageComplete :: content}"></div>
            </form>
        </div>
    </div>
    
    <!-- alert confirm prompt -->
	<div th:replace="~{Common/alertView :: alertView}"></div>
    <!-- 모달창 -->
    <div th:replace="~{Common/modalView :: modalView}"></div>
    
    <th:script th:replace="~{Common/Script :: CommonScript}"/>
</body>
</html>
