<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div class="text-center space-y-6">
        <h1 class="text-4xl font-bold text-blue-600">🐇 BurrowNest</h1>
        <p class="text-lg text-gray-700">파일 로딩 작업</p>
        <p class="text-sm text-gray-500">진행을 클릭하면 설정이 저장되고 저장소 검색을 진행 합니다.</p>
        <p class="text-sm text-gray-500">검색할 양이 많을 경우 오래 걸릴 수 있으니 기다려 주세요.</p>
        <div class="bg-gray-50 p-6 font-sans">
        	<div class="max-w-xl mx-auto bg-white shadow-lg rounded-xl p-6 space-y-4">
        	
		    <div id="status" class="text-lg font-semibold text-green-600 text-center"></div>
		
		    <div id="message" class="text-gray-700 text-center text-base font-medium">메시지</div>
		
		    <div class="relative w-full h-6 bg-gray-200 rounded-full overflow-hidden">
		    	<div id="progressBar" class="absolute top-0 left-0 h-full bg-blue-500 transition-all duration-300 ease-in-out" style="width: 0%;"></div>
		    </div>
		
		    <div class="flex justify-between text-sm text-gray-600">
		      	<span id="progressText">0 / 0</span>
		      	<span id="progressPercent">0%</span>
		    </div>
		  </div>
		</div>
        <button type="button" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition" th:onclick="apply()">진행</button>
    </div>
    
    <script th:inline="javascript">
	    
	    let stompClient = null;
	
	    function connectWebSocket() {
	    	const socket = new SockJS("/ws-stomp");
	    	stompClient = Stomp.over(socket);
	    	stompClient.connect({}, () => {
	    		stompClient.subscribe("/topic/search-status", (msg) => {
	    			const data = JSON.parse(msg.body);
	    			updateProgress(data);
	    		});
	    	});
	    } 
	    
	    
	    const eleMessage = document.getElementById("message");
	    const eleProgressText = document.getElementById("progressText");
	    const eleProgressBar = document.getElementById("progressBar");
	    const eleProgressPercent = document.getElementById("progressPercent");
	    const eleStatus = document.getElementById("status");
	
	    // 4. 저장 상태가 전달됨.
	    function updateProgress(receiveData) {
	    	
	    	console.log("User 소켓 데이터 수신 " + receiveData.body);
	    	const json = JSON.parse(receiveData.body);
	    	
	    	if( Boolean(json.done) ){
	    		// 작업 완료.
	    		eleStatus.textContent = "✅ 완료";
	    		
	    		socketScript.disconnect();
	    		// 5. 다음 페이지로 이동
	    		nextPage('PageStorageSelect', 'PageComplete');
	    		return;
	    	}

	    	const total = Number(json.total);
	    	const progress = Number(json.progress);
	    	const message  = json.message;
	    	
	    	const percent = total > 0 ? Math.floor((progress / total) * 100) : 0;
	    	
	    	eleMessage.textContent = message || "";
	    	eleProgressText.textContent = `${progress} / ${total}`;
	    	eleProgressBar.style.width = `${percent}%`;
	    	eleProgressPercent.textContent = `${percent}%`;
	    }
	    
		function publicCallBackStatus(receiveData) {
	    	
	    	console.log("public 소켓 데이터 수신 " + receiveData.body);
	    	const json = JSON.parse(receiveData.body);
	    	
	    	if( Boolean(json.done) ){
	    		// 작업 완료.
	    		eleStatus.textContent = "✅ 완료";
	    		
	    		socketScript.disconnect();
	    		// 5. 다음 페이지로 이동
	    		nextPage('PageStorageSelect', 'PageComplete');
	    		return;
	    	}

	    	const total = Number(json.total);
	    	const progress = Number(json.progress);
	    	const message  = json.message;
	    	
	    	const percent = total > 0 ? Math.floor((progress / total) * 100) : 0;
	    	
	    	eleMessage.textContent = message || "";
	    	eleProgressText.textContent = `${progress} / ${total}`;
	    	eleProgressBar.style.width = `${percent}%`;
	    	eleProgressPercent.textContent = `${percent}%`;
	    }
	    
	    let socketScript = null;
	    
	    function apply(){
	    	
	    	// 1. 웹 소켓 접속.
	    	connectWebSocket();
	    	
	    	const wsUrl = /*[[@{/BackEvent}]]*/ null;
	    	const connectionInfo = new ConnectionInfo(wsUrl, { service: 'Burrow' });
	    	
	    	connectionInfo.setOpenHandler((frame) => {
	    		
	    		// 2. 접속 성공 하면 user-name 획득
	    		const currentUserKey = frame.headers['user-name'];
	    		console.log("연결됨", currentUserKey );
	    		
	    		SaveInit( currentUserKey );
	    	});
	    	
	    	connectionInfo.setCloseHandler(() => {
	    		console.log("연결 해제");
	    	});

	    	socketScript = new SocketScript(connectionInfo);
	    	
	    	socketScript.addReceiveInfo(new ReceiveInfo('/user/toFront/RecieveStatus', updateProgress));
	    	socketScript.addReceiveInfo(new ReceiveInfo('/toFront/RecieveStatus', publicCallBackStatus));
	    	
	    	// socketScript.connect();
	    }
	    
	    
	    // 3. saveInit 호출
    	async function SaveInit(wsUser){
    		
    		const encrypt = new JSEncrypt();
            encrypt.setPublicKey(/*[[${unique.publicKey}]]*/ null);

            const encPw = encrypt.encrypt( document.getElementById("pwd1").value );	
    	
            const storageList = getStorageListValues();
            
    		const requestData = {
    		        token: /*[[${unique.token}]]*/ null,
    		        rsaId: /*[[${unique.rsaId}]]*/ null,
    		        pw: encPw,
    		        wsUserName: wsUser,
    		        roots: storageList
    		    };
    		
    		try {
    	        const res = await fetch(/*[[@{/Intro/SaveInit.json}]]*/ null, {
    	            method: 'POST',
    	            headers: { "Content-Type": "application/json" },
    	            credentials: 'include',
    	            body: JSON.stringify(requestData)
    	        });
    	        
    	        console.info('✅ response', res);

    	        if (res.ok) {
    	        	console.info('작업 진행 중');
    	        }
    	        return true;
    	    } catch (err) {
    	        console.error("refreshToken 실패:", err);
    	        return false;
    	    }
    	}
    </script>
</div>
