<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div class="text-center space-y-6">
    	<h1 class="text-4xl font-bold text-blue-600">🐇 BurrowNest</h1>
    	<p class="text-lg text-gray-700 font-medium">필수 라이브러리</p>
    	
    	<div class="space-y-1">
    		<p class="text-sm text-gray-500">BurrowNest를 사용하려면 아래 라이브러리가 필요합니다.</p>
    		<p class="text-sm text-gray-500">다음 명령어를 통해 설치하세요:</p>
    		<p class="text-sm text-gray-500">1. ffmpeg: <code class="font-mono">sudo apt install -y ffmpeg</code></p>
    		<p class="text-sm text-gray-500">2. exiftool: <code class="font-mono">sudo apt install -y exiftool</code></p>
    	</div>   	
    	
    	<div class="flex justify-between pt-6">
    		<button type="button"
    			class="bg-gray-300 text-gray-800 px-6 py-2 rounded hover:bg-gray-400 transition"
    			onclick="prevPage('PageStorageLib', 'PagePasswd')">
    			이전
    		</button>
    		
    		<!-- <button type="button"
    			class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600 transition"
    			onclick="nextPage('PageStorageLib', 'PageStorageSelect')">
    			다음
    		</button> -->
    		<button type="button" id="applyBtn" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition" th:onclick="apply()">진행</button>
    	</div>
    </div>
    
    <script th:inline="javascript">
    async function apply(){
    	
    	buttonStatus( "applyBtn", false);
    	
    	const encrypt = new JSEncrypt();
        encrypt.setPublicKey(/*[[${unique.publicKey}]]*/ null);

        const encPw = encrypt.encrypt( document.getElementById("password").value );	
	
        const imageData = await getProfileImage();
    	if (!imageData) {
    		showCustomAlert("이미지 처리 오류가 발생했습니다.");
    		return;
    	}
        
        const formData = new FormData();
        formData.append("token", /*[[${unique.token}]]*/ null);
        formData.append("rsaId", /*[[${unique.rsaId}]]*/ null);
        formData.append("id", document.getElementById("id").value);
        formData.append("pw", encPw );
        formData.append("profileImg", imageData);
        formData.append("nickname", document.getElementById("nickname").value);
        formData.append("myRainbow", document.getElementById("myRainbow").value);
        formData.append("mySeason", document.getElementById("mySeason").value);
        formData.append("myNumber", document.getElementById("myNumber").value);
        
		try {
	        const res = await fetch(/*[[@{/Intro/SaveInit.json}]]*/ null, {
                method: "POST",
                body: formData,
                credentials: "include"
            });
	        
	        console.info('✅ response', res);

	        if (res.ok) {
	        	console.info('작업 성공');
	        	nextPage('PageStorageLib', 'PageComplete');
	        }
	        return true;
	    } catch (err) {
	        console.error("refreshToken 실패:", err);
	        buttonStatus( "applyBtn", true);
	        return false;
	    }
    }
    
    </script>
</div>
