<div xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <div class="space-y-6">
        <h2 class="text-2xl font-semibold text-center text-gray-800">저장소 지정</h2>
        <ul id="storageList" class="space-y-2 h-58">
             <!-- <li class="flex justify-between items-center bg-gray-100 p-2 rounded">
                <span>/mnt/storage1</span>
                <button class="text-red-500 hover:text-red-700" onclick="this.closest('li').remove()">삭제</button>
            </li>
             <li class="flex justify-between items-center bg-gray-100 p-2 rounded">
                <span>/mnt/data1</span>
                <button class="text-red-500 hover:text-red-700" onclick="this.closest('li').remove()">삭제</button>
            </li> -->
        </ul>
        <div class="flex justify-start">
            <button type="button" class="bg-green-500 text-white px-4 py-1 rounded hover:bg-green-600 transition" onclick="openSelectDir()">추가</button>
        </div>
        <div class="flex justify-between">
            <button type="button" class="bg-gray-300 text-gray-800 px-6 py-2 rounded hover:bg-gray-400 transition" onclick="prevPage('PageStorageSelect', 'PageStorageLib')">이전</button>
            <button type="button" disabled
    			id="selectNextBtn" class="bg-gray-500 text-black px-6 py-2 rounded hover:bg-gray-600 transition" onclick="goDirScanPage()">다음</button>
        </div>
    </div>
    
    <script th:inline="javascript">
    	
    	function getStorageListValues() {
    	  const spans = document.querySelectorAll('#storageList li span');
    	  return Array.from(spans).map(span => span.textContent.trim());
    	}
    	
    	function openSelectDir(){
    		console.log("openSelectDir click");

            const sendValue = {
			        url: /*[[@{/Intro/Dir.layer}]]*/ null,
					method: MethodType.Get, 
					NotCheck:true,
					popupId:'SelectDir',
			        width: '600px'
			    };
			
			openPopup(sendValue);
    	}
    	
    	function goDirScanPage(){
    		
    		const list = getStorageListValues();
    		if( list.length < 1 ){
    			showCustomAlert("저장소 경로를 추가하세요.");
    			return;
    		}
    		
    		nextPage('PageStorageSelect', 'PageStorageLoad');
    	}
    </script>
</div>
