<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>🐇 BurrowNest Admin<th:block layout:fragment="title"></th:block></title>
    <meta charset="UTF-8">

   	<th:block th:replace="~{Common/Favicon :: Favicon}"></th:block>

    <script type="text/javascript" th:src="@{/js/tailwind/tailwind.min.js}"></script>
    
    <th:block layout:fragment="css"></th:block>
		
</head>
<body class="min-h-screen flex flex-col bg-gray-100 text-gray-800">

  	<!-- Header -->
	<header class="bg-white shadow">
		<div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
		  <h1 class="text-2xl font-bold text-blue-600"><th:block layout:fragment="title">Admin</th:block></h1>
		  <nav class="space-x-4">
			<!-- <a th:href="@{/Admin/User.html}" th:classappend="${#request.requestURI == '/Admin/User.html'} ? 'font-bold text-indigo-700'" class="text-blue-600 hover:text-blue-600'">User</a> -->
<!-- 			<a th:href="@{/Admin/Storage.html}" th:class="${#httpServletRequest.requestURI == '/Admin/Storage.html' ? 'text-blue-600 font-bold' : 'text-gray-600 hover:text-blue-600'}">Storage</a>
			<a th:href="@{/Admin/Statistics.html}" th:class="${#httpServletRequest.requestURI == '/Admin/Statistics.html' ? 'text-blue-600 font-bold' : 'text-gray-600 hover:text-blue-600'}">Statistics</a>
 -->		  </nav>
		</div>
	</header>

  <!-- Main Content -->
  <main class="max-w-7xl mx-auto px-4 py-10">
    <th:block layout:fragment="content"/>
  </main>

  <!-- Footer -->
  <footer class="bg-white border-t">
    <div class="max-w-7xl mx-auto px-4 py-4 text-center text-sm text-gray-500">
      © 2025 🐇 BurrowNest. All rights reserved.
    </div>
  </footer>
  
  	<!-- alert confirm prompt -->
	<div th:replace="~{Common/alertView :: alertView}"></div>
    <!-- 모달창 -->
    <div th:replace="~{Common/modalView :: modalView}"></div>
    
    <th:script th:replace="~{Common/Script :: CommonScript}"/>
    
    <th:block layout:fragment="script"></th:block>

</body>
</html>
