<div xmlns:th="http://www.thymeleaf.org">

<div class="bg-white shadow p-6 rounded-md">
    <h2 class="text-xl font-bold text-gray-700 mb-4"> [[${group.name}]] 접근 Directory</h2>
    <!-- 접근 디렉토리 목록 -->
  	<div class="col-span-4 border rounded shadow">
        <ul id="directoryList" class="space-y-1"></ul>
        <!-- <div class="flex mt-2">
            <span class=""></span>
            <button id="addDirBtn" class="bg-blue-500 text-white px-3 py-1 rounded">+</button>
        </div> -->
	</div>
    <div class="flex justify-end space-x-4 pt-4">
	    <button type="button" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition" onclick="sv()">저장</button>
	    <button type="button" class="bg-gray-500 text-black px-6 py-2 rounded-lg hover:bg-gray-600 transition" onclick="cancel()">취소</button>
	</div>
</div>

<div class="hidden">

	<template id="directoryItemTemplate">
	  <li class="flex items-center justify-between px-4 py-2">
	    <span class="dir-path flex-1 truncate"></span>
	    <button class="remove-dir ml-2 bg-red-500 hover:bg-red-600 text-white text-sm px-2 py-1 rounded">-</button>
	  </li>
	</template>
	
	<template id="directoryAddTemplate">
	  <li class="flex items-center justify-between px-4 py-2">
	    <!-- <input type="text" class="dir-input border px-2 py-1 flex-1 text-sm" placeholder="경로 입력..." /> -->
	    <span class=""></span>
	    <button id="GroupDirAdd" class="add-dir ml-2 bg-blue-500 hover:bg-blue-600 text-white text-sm px-2 py-1 rounded">+</button>
	  </li>
	</template>
</div>
        

    <script th:inline="javascript">
    function renderDirectoryList(dirs) {
    	const dirTemplate = document.getElementById("directoryItemTemplate");
    	const addTemplate = document.getElementById("directoryAddTemplate");
    	const directoryListEl = document.getElementById("directoryList");
	  
	    directoryListEl.innerHTML = "";
	    dirs.forEach((dir, idx) => {
			const li = dirTemplate.content.cloneNode(true);
			const dirPath = li.querySelector(".dir-path");
			dirPath.textContent = dir.absolutePath;
			dirPath.dataset.no = dir.no;
			li.querySelector(".remove-dir").addEventListener("click", () => {
				const message = `[ ${dir.absolutePath} ] 삭제하시겠습니까?`;
				showCustomConfirm( message, () => handleRemoveDirectory(dir));
			});
			directoryListEl.appendChild(li);
	    });

	    const addLi = addTemplate.content.cloneNode(true);
	    addLi.querySelector(".add-dir").addEventListener("click", openSelectDir);
	    directoryListEl.appendChild(addLi);
	}
    
    function openSelectDir(){
		console.log("openSelectDir click");

        const sendValue = {
		        url: /*[[@{/Intro/Dir.layer}]]*/ null,
				method: MethodType.Get, 
				NotCheck:true,
				popupId:'SelectDir',
		        width: '600px'
		    };
		
		openPopup(sendValue);
	}

    function cancel(){
    	document.getElementById("PathList").innerHTML = "";
    }
    
    
    renderDirectoryList(/*[[${list}]]*/ null);
    
    </script>

</div>
