<div xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Common/LayoutModal}"
    th:with="maxHeight='80'">
    
    <th:block layout:fragment="modalTitle">루트 목록</th:block>

	<th:block layout:fragment="modalContent">
		<div th:insert="~{Storage/Directories :: directories}"></div>
    </th:block>
    
    <th:block layout:fragment="modalButton">
    	<button id="saveButton" onclick="saveData(this)" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">
            저장
        </button>
        <button onclick="closePopup(this)" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">
            취소
        </button>
    </th:block>
    
	<th:block layout:fragment="modalScript">
		<script th:inline="javascript" defer>
		
		

		</script>
    </th:block>
</div>
	   
