<div xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Common/LayoutModal}"
    th:with="maxHeight='120'">
    
    <th:block layout:fragment="modalTitle">
        그룹 회원 상세
    </th:block>

	<th:block layout:fragment="modalContent">
	<form id="updateGroupForm" th:object="${item}">
		<input type="hidden" th:field="*{groupNo}">
        <table class="w-full border-collapse">
		    <tbody>
	            <tr>
	                <td class="w-1/4 font-medium p-2">
	                	<label for="name">이름</label>
	                </td>
	                <td class="w-3/4 p-2">
	                    <input type="text" th:field="*{name}" th:readonly="${item.groupNo eq 1 or item.groupNo eq 2 }"
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="enabled">사용여부</label></td>
	                <td class="w-3/4 p-2">
	                    <div class="flex items-center space-x-4">
				            <div>
				                <input type="radio" id="enabledTrue" name="enabled" value="true" class="form-radio h-5 w-5 text-green-500 focus:ring-green-500" th:checked="${item.enabled}">
				                <label for="enabledTrue" class="ml-2 text-gray-700">예</label>
				            </div>
				            <div>
				                <input type="radio" id="enabledFalse" name="enabled" value="false" class="form-radio h-5 w-5 text-red-500 focus:ring-red-500"  th:checked="${! item.enabled}">
				                <label for="enabledFalse" class="ml-2 text-gray-700">아니오</label>
				            </div>
				        </div>
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="role">역할</label></td>
	                <td class="w-3/4 p-2">
	                    <select id="role" name="role" class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" required>
	                        <option value="">선택하세요</option>
						    <option th:each="role : ${roles}" 
						            th:value="${role}" 
						            th:text="${role.getDscr()}"
						            th:selected="${item.role eq role}">
						    </option>
	                    </select>
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="role">파일 권한</label></td>
	                <td class="w-3/4 p-2">
	                    <select id="accType" name="accType" class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" required>
	                        <option value="">선택하세요</option>
						    <option th:each="accType : ${accTypes}" 
						            th:value="${accType}" 
						            th:text="${accType.getDscr()}"
						            th:selected="${item.accType eq accType}">
						    </option>
	                    </select>
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="note">비고</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="text" th:field="*{note}" maxlength="255" 
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="dailyUploadLimit">하루 업로드 제한</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="number" th:field="*{dailyUploadLimit}"  
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="dailyDownloadLimit">일일 최대 다운로드</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="number" th:field="*{dailyDownloadLimit}"  
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	            <tr>
	                <td class="w-1/4 font-medium p-2"><label for="maxStorageUsage">저장공간 최대 사용</label></td>
	                <td class="w-3/4 p-2">
	                    <input type="number" th:field="*{maxStorageUsage}"  
	                    	class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-400" >
	                </td>
	            </tr>
	        </tbody>
	    </table>
    </form>
    
    </th:block>
    
    <th:block layout:fragment="modalButton">
    	 <button th:if="${item.groupNo > 1}" 
    	 	type="button"
            onclick="deleteGroup(this)"
            class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition">
            그룹 삭제
        </button>
    	<button id="saveButton" onclick="saveData(this)" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">
            저장
        </button>
        <button onclick="closePopup(this)" class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 transition">
            취소
        </button>
    </th:block>
    
    
	<th:block layout:fragment="modalScript">
					
		<script th:inline="javascript">
		
		
		</script>
    </th:block>
</div>
	   
