<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.burrowNest.admin.mapper.AdminMapper">

	<!-- 사용자 목록 조회 -->
	<select id="getUserList" parameterType="map" resultType="com.utime.burrowNest.admin.vo.ManageUserVo">
		SELECT
			UR.NO AS "userNo"
			, UR.REG_DATE
			, UR.ENABLED
			, UR.ID 
			, UR.NICK_NAME 
			, UR.ROLE
			, NVL(LR.LOGIN_COUNT, 0) AS LOGIN_COUNT
			, LR.LAST_LOGIN_TIME
			, PW.FAIL_COUNT AS "loginFailCount"
		FROM BN_USER UR
			LEFT OUTER JOIN (
				 SELECT
				 	USER_NO
				 	, COUNT(1) AS LOGIN_COUNT
				 	, MAX(REG_DATE) AS LAST_LOGIN_TIME
				 FROM BN_USER_LOGIN_RECORD
				 WHERE STATUS = 'Success'
				 GROUP BY USER_NO
			)LR ON UR.NO = LR.USER_NO
			INNER JOIN BN_USER_PW PW
				ON UR.NO = PW.USER_NO
		<if test="id != null and id != '' ">
		WHERE UR.ID LIKE '%${id}%'
		</if>
		ORDER BY UR.NO DESC
	</select>
	
	
	<select id="getUserDetail" parameterType="map" resultType="com.utime.burrowNest.user.vo.UserVo">
		SELECT
			<include refid="com.utime.burrowNest.user.mapper.UserMapper.UserAllColumn" /> 
		FROM BN_USER
		WHERE NO = #{userNo}
	</select>
	
	<!-- 사용자 정보 갱신 -->
	<update id="updateUser" parameterType="com.utime.burrowNest.user.vo.UserVo" >
		UPDATE BN_USER SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, ENABLED = #{enabled}
			, ROLE = #{role}
			, NOTE = <choose> <when test="note != null and note != '' ">#{note}</when> <otherwise>NULL</otherwise> </choose>
			, DAILY_UPLOAD_LIMIT = #{dailyUploadLimit} 
			, DAILY_DOWNLOAD_LIMIT = #{dailyDownloadLimit}
			, MAX_STORAGE_USAGE = #{maxStorageUsage}
		WHERE NO = #{userNo}
	</update>
	
</mapper>