<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.burrowNest.admin.mapper.AdminMapper">

	<resultMap id="ManageUserVoMap" 
		type="com.utime.burrowNest.admin.vo.ManageUserVo" 
		extends="com.utime.burrowNest.user.mapper.UserMapper.UserVoMap">
		
	    <result property="LOGIN_COUNT" column="loginCount"/>
	    <result property="LAST_LOGIN_TIME" column="lastLoginTime"/>
	    <result property="FAIL_COUNT" column="loginFailCount"/>
	</resultMap>

	<!-- 사용자 목록 조회 -->
	<select id="getUserList" parameterType="map" resultMap="ManageUserVoMap">
		SELECT
			<include refid="com.utime.burrowNest.user.mapper.UserMapper.UserColumn" /> 
			, NVL(LR.LOGIN_COUNT, 0) AS LOGIN_COUNT
			, LR.LAST_LOGIN_TIME
			, PW.FAIL_COUNT
		FROM BN_USER UR
			LEFT OUTER JOIN (
				 SELECT
				 	USER_NO
				 	, COUNT(1) AS LOGIN_COUNT
				 	, MAX(REG_DATE) AS LAST_LOGIN_TIME
				 FROM BN_USER_LOGIN_RECORD
				 WHERE STATUS = 'Success'
				 GROUP BY USER_NO
			)LR ON UR.NO = LR.USER_NO
			INNER JOIN BN_USER_PW PW
				ON UR.NO = PW.USER_NO
		<if test="id != null and id != '' ">
		WHERE UR.ID LIKE '%${id}%'
		</if>
		ORDER BY UR.NO DESC
	</select>
	
	
	<select id="getUserDetail" parameterType="map" resultMap="com.utime.burrowNest.user.mapper.UserMapper.UserVoMap">
		SELECT
			<include refid="com.utime.burrowNest.user.mapper.UserMapper.UserAllColumn" /> 
		FROM BN_USER UR
		WHERE UR.NO = #{userNo}
	</select>
	
	<!-- 사용자 정보 갱신 -->
	<update id="updateUser" parameterType="com.utime.burrowNest.user.vo.UserVo" >
		UPDATE BN_USER SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, ENABLED = #{enabled}
			, GROUP_NO = #{group.groupNo}
			, ROLE = #{role}
			, NOTE = <choose> <when test="note != null and note != '' ">#{note}</when> <otherwise>NULL</otherwise> </choose>
			, DAILY_UPLOAD_LIMIT = #{dailyUploadLimit} 
			, DAILY_DOWNLOAD_LIMIT = #{dailyDownloadLimit}
			, MAX_STORAGE_USAGE = #{maxStorageUsage}
		WHERE NO = #{userNo}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="deleteUser" parameterType="integer">
		DELETE FROM BN_USER UR
		WHERE UR.NO = #{userNo}
	</delete>
	
	<!-- 사용자 그룹 정보 조회 -->
	<select id="selectUserGroupList" resultMap="com.utime.burrowNest.user.mapper.UserMapper.GroupVoMap">
		SELECT
			<include refid="com.utime.burrowNest.user.mapper.UserMapper.GroupColumn"/>
		FROM BN_USER_GROUP GR
		WHERE 1=1
			<if test="enabled != null">
			AND GR.ENABLED = #{enabled}
			</if>
			<if test="grName != null and grName != '' ">
			AND GR.NAME LIKE '%${grName}%'
			</if>
		ORDER BY
        CASE
            WHEN GR.NO IN (1, 2) THEN 0
            ELSE 1
        END, GR.NAME ASC
	</select>
	
	<!-- 사용자 그룹 정보 수정 -->
	<update id="updateGroup" parameterType="com.utime.burrowNest.user.vo.GroupVo">
		UPDATE BN_USER_GROUP SET 
			UPDATE_DATE = CURRENT_TIMESTAMP
			, ENABLED = #{enabled}
			, NAME = #{name}
			, ROLE = #{role}
			, ACCESS_FLAGS = #{accType}
			<if test="note != null and note != '' "> 
			, NOTE = #{note}
			</if>
			, DAILY_UPLOAD_LIMIT  = #{dailyUploadLimit}
			, DAILY_DOWNLOAD_LIMIT = #{dailyDownloadLimit}
			, MAX_STORAGE_USAGE = #{maxStorageUsage}
		WHERE NO = #{groupNo}
	</update>
	
	<!-- 그룹 삭제 -->
	<delete id="deleteGroup" parameterType="integer">
		DELETE FROM BN_USER_GROUP GR
		WHERE GR.NO = #{groupNo}
	</delete>
	
	<!-- Directory Access 그룹 추가 -->
	<insert id="insertDirectoryAccessGroup" parameterType="com.utime.burrowNest.admin.vo.BnAccessVo">
		INSERT INTO BN_DIRECTORY_ACCESS ( 
			DIR_NO
			, GROUP_NO
			, ACCESS_FLAGS
		) VALUES (
			{no}
			, #{groupNo} 
			, #{accType}
		)
	</insert>

	<!-- File Access 그룹 추가 -->
	<insert id="insertFileAccessGroup" parameterType="map">
		INSERT INTO BN_FILE_ACCESS ( 
			FILE_NO
			, GROUP_NO
			, ACCESS_FLAGS
		) SELECT 
			FILE_NO
			, #{groupNo} 
			, #{accType}
		FROM BN_FILE_ACCESS WHERE GROUP_NO = 1;
	</insert>

	<!-- Directory Access 그룹 수정 -->
	<update id="updateDirectoryAccessGroup" parameterType="com.utime.burrowNest.admin.vo.BnAccessVo">
		UPDATE BN_DIRECTORY_ACCESS SET
			ACCESS_FLAGS = #{accType}
		WHERE DIR_NO = #{dirNo} AND GROUP_NO = #{groupNo} 
	</update>

	<!-- File Access 그룹 수정 -->
	<update id="updateFileAccessGroup" parameterType="map">
		UPDATE BN_FILE_ACCESS SET
			ACCESS_FLAGS = #{accType}
		WHERE GROUP_NO = #{groupNo}
	</update>
	
	<!-- Directory Access 그룹 삭제 -->
	<update id="deleteDirectoryAccessGroup" parameterType="com.utime.burrowNest.admin.vo.BnAccessVo">
		DELETE FROM BN_DIRECTORY_ACCESS 
		WHERE DIR_NO = #{dirNo} AND GROUP_NO = #{groupNo} 
	</update>
	
	
</mapper>